/*
* IMPRESION
*/
	
/*table.EstOrdenVentaVehiculoImprimirTabla{
	font-family:Arial, Helvetica, sans-serif;
}*/

/*
* TEXTO BODY
*/

/*.EstOrdenVentaVehiculoImprimirEtiqueta{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#999;
	

}

.EstOrdenVentaVehiculoImprimirContenido{
	
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
}

.EstOrdenVentaVehiculoImprimirAccesorios{
	
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
}*/
