
.EstCapTrasladoAlmacenEntradaRecepcions{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	/*height:500px;*/
	
	height:auto;
	min-height:200px;
	
	
	width:100%;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}

.EstCapTrasladoAlmacenEntradaDetalles{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	/*height:500px;*/
	
	height:auto;
	min-height:200px;
	
	
	width:100%;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}


/*
* IMPRESION
*/
table.EstTrasladoAlmacenEntradaImprimirTabla{
font-family:Arial, Helvetica, sans-serif;
}
/*
* HEAD
*/
thead.EstTrasladoAlmacenEntradaImprimirTablaHead{
background-image:url(../../../imagenes/tabla_barra.png);
/*background-color:#333;*/
height:20px;
font-size:10px;
color:#FFFFFF;
}

thead.EstTrasladoAlmacenEntradaImprimirTablaHead th{
padding-left:2px;
padding-right:2px;
/*height:25px;*/
}
/*
* BODY
*/
tbody.EstTrasladoAlmacenEntradaImprimirTablaBody{
font-size:10px;
}

tbody.EstTrasladoAlmacenEntradaImprimirTablaBody td {
background-color:#FFF;
padding-left:2px;
padding-right:2px;
border:#CCC 1px solid ; 
}

/*
* TEXTO BODY
*/
.EstTrasladoAlmacenEntradaImprimirEtiqueta{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000;
}

.EstTrasladoAlmacenEntradaImprimirContenido{
/*font-weight:bold;*/
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}
/*
* TEXTO BODY OTROS
*/
.EstTrasladoAlmacenEntradaImprimirContenidoEspecial{
letter-spacing:3px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}

.EstTrasladoAlmacenEntradaImprimirContenidoFecha{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
}
/*
* TEXTO DETALLE 
*/
.EstTrasladoAlmacenEntradaDetalleImprimirEtiqueta{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#0066CC;
}

.EstTrasladoAlmacenEntradaDetalleImprimirContenido td{
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
}
/*
* TEXTO TOTAL
*/
.EstTrasladoAlmacenEntradaImprimirEtiquetaTotal{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#000;
}
.EstTrasladoAlmacenEntradaImprimirContenidoTotal{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
}
/*
* TEXTO TOTAL OTROS
*/
.EstTrasladoAlmacenEntradaImprimirMoneda{
font-weight:bold;
font-size:8px;
}
/*
* CABECERAS
*/
.EstTrasladoAlmacenEntradaImprimirCabecera{
font-weight:bold;
font-size:14px;
}

.EstTrasladoAlmacenEntradaImprimirSubcabecera{
font-weight:bold;
font-size:10px;
}





.EstTrasladoAlmacenEntradaImprimirEtiqueta2{
	background-color:#900;
}


.EstTablaListadoActivo{
	background-color:#FFF;
	
}

EstTablaListadoInactivo{
	background-color:#CCC;
}