

/*
* IMPRESION
*/
table.EstTallerPedidoImprimirTabla{
font-family:Verdana, Arial, Helvetica, sans-serif;
}
/*
* HEAD
*/
thead.EstTallerPedidoImprimirTablaHead{
/*background-image:url(../../../imagenes/tabla_barra.png);*/
/*background-color:#333;*/
height:20px;
font-size:8px;
color:#FFFFFF;
}

thead.EstTallerPedidoImprimirTablaHead th{
	padding-left:2px;
	padding-right:2px;
	text-transform: uppercase;  
	/*height:25px;*/
}
/*
* BODY
*/
tbody.EstTallerPedidoImprimirTablaBody{
font-size:10px;
}

tbody.EstTallerPedidoImprimirTablaBody td {
	background-color:#FFF;
	padding-left:2px;
	padding-right:2px;
/*	border:#CCC 1px solid ; */
	padding:5px;
}

/*
* TEXTO BODY
*/
.EstTallerPedidoImprimirEtiqueta{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#000;
	text-transform: uppercase;  
}

.EstTallerPedidoImprimirContenido{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:10px;
}


.EstTallerPedidoImprimirTipo{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:14px;
	text-transform: uppercase;  
}


.EstTallerPedidoImprimirObsequio{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:14px;
	text-transform: uppercase;  
}

.EstTallerPedidoImprimirManoObra{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:14px;
	
}




/*
* TEXTO BODY OTROS
*/
.EstTallerPedidoImprimirContenidoEspecial{
letter-spacing:3px;
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9px;
}

.EstTallerPedidoImprimirContenidoFecha{
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9px;
}
/*
* TEXTO DETALLE 
*/
.EstTallerPedidoDetalleImprimirEtiqueta{
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#0066CC;
}

.EstTallerPedidoDetalleImprimirContenido td{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
/*
* TEXTO TOTAL
*/
.EstTallerPedidoImprimirEtiquetaTotal{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	text-transform: uppercase;  
}
.EstTallerPedidoImprimirContenidoTotal{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}
/*
* TEXTO TOTAL OTROS
*/
.EstTallerPedidoImprimirMoneda{
font-weight:bold;
font-size:8px;
}
/*
* CABECERAS
*/
.EstTallerPedidoImprimirCabecera{
font-weight:bold;
font-size:14px;
}

.EstTallerPedidoImprimirSubcabecera{
font-weight:bold;
font-size:10px;
}





.EstTallerPedidoImprimirEtiqueta2{
	background-color:#900;
}