/*
* Impresion
*/

/*
* TABLA
*/
table.EstFacturaImprimirTabla{
	font-family:Arial, Helvetica, sans-serif;
}

/*
* TABLA HEAD
*/
thead.EstFacturaImprimirTablaHead{
/*	background-image:url(../../../imagenes/tabla_barra.png);*/
	height:20px;
	font-size:10px;
}

thead.EstFacturaImprimirTablaHead th{
	padding-left:2px;
	padding-right:2px;
}

/*
* TABLA BODY
*/
tbody.EstFacturaImprimirTablaBody{
	font-size:10px;
}

tbody.EstFacturaImprimirTablaBody td {
	background-color:#FFF;
	padding-left:2px;
	padding-right:2px;
	/*border:#CCC 1px solid ; */
}

/*
* CONTENIDO
*/
.EstFacturaImprimirEtiqueta{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#0066CC;
	text-transform: uppercase; 
}

.EstFacturaImprimirContenido{
	/*font-weight:bold;*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}


.EstFacturaImprimirEtiquetaCaracteristica{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#0066CC;
	text-transform: uppercase; 
}

.EstFacturaImprimirContenidoCaracteristica{
	/*font-weight:bold;*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}

/*
* CONTENIDO ESPECIAL
*/
.EstFacturaImprimirContenidoEspecial{
	letter-spacing:3px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
/*
* CONTENIDO FECHA
*/

.EstFacturaImprimirContenidoFecha{
	/*font-weight:bold;*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}

/*
* DETALLE
*/
.EstFacturaDetalleImprimirEtiqueta{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#0066CC;
	text-transform: uppercase; 
}

.EstFacturaDetalleImprimirContenido{
	/*font-weight:bold;*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

/*
* TOTALES
*/
.EstFacturaImprimirEtiquetaTotal{
	font-weight:bold;
	color:#0066CC;
	text-transform: uppercase; 
}


/*
* MONEDA
*/
.EstFacturaImprimirMoneda{
	font-weight:bold;
	font-size:8px;
}

/*
* CABECERAS
*/
.EstFacturaImprimirCabecera{
	font-weight:bold;
	font-size:14px;
}

.EstFacturaImprimirSubcabecera{
	font-weight:bold;
	font-size:10px;
}

/*
.EstFacturImprimirCapaPrincipal{
	position:relative;
}

.EstFacturImprimirObsequio{
	position:absolute;
	left: 183px;
	top: 663px;
	width: 302px;
	height: 263px;
	
}


.EstFacturImprimirSpot{
	position:absolute;
	left: 116px;
	top: 993px;
	
}
*/



.EstFacturaImprimirSeparacion{
	border-top:dashed 1px #000;
	margin:0px;
	
}