.EstFacturImprimirCapaPrincipal{
	position:relative;
}

.EstFacturImprimirObsequio{
	position:absolute;
	left: 208px;
	top: 409px;
	width: 302px;
	height: 263px;
	
}


.EstFacturImprimirSpot{
	position:absolute;
	left: 136px;
	top: 882px;
	
}
