
/*
* IMPRESION
*/
table.EstNotaCreditoCompraImprimirTabla{
font-family:Arial, Helvetica, sans-serif;
}
/*
* HEAD
*/
thead.EstNotaCreditoCompraImprimirTablaHead{
background-image:url(../../../imagenes/tabla_barra.png);
/*background-color:#333;*/
height:20px;
font-size:10px;
color:#FFFFFF;
}

thead.EstNotaCreditoCompraImprimirTablaHead th{
padding-left:2px;
padding-right:2px;
/*height:25px;*/
}
/*
* BODY
*/
tbody.EstNotaCreditoCompraImprimirTablaBody{
font-size:10px;
}

tbody.EstNotaCreditoCompraImprimirTablaBody td {
background-color:#FFF;
padding-left:2px;
padding-right:2px;
border:#CCC 1px solid ; 
}

/*
* TEXTO BODY
*/
.EstNotaCreditoCompraImprimirEtiqueta{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000;
}

.EstNotaCreditoCompraImprimirContenido{
/*font-weight:bold;*/
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}
/*
* TEXTO BODY OTROS
*/
.EstNotaCreditoCompraImprimirContenidoEspecial{
letter-spacing:3px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}

.EstNotaCreditoCompraImprimirContenidoFecha{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
}
/*
* TEXTO DETALLE 
*/
.EstNotaCreditoCompraDetalleImprimirEtiqueta{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#0066CC;
}

.EstNotaCreditoCompraDetalleImprimirContenido td{
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
}
/*
* TEXTO TOTAL
*/
.EstNotaCreditoCompraImprimirEtiquetaTotal{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#000;
}
.EstNotaCreditoCompraImprimirContenidoTotal{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
}
/*
* TEXTO TOTAL OTROS
*/
.EstNotaCreditoCompraImprimirMoneda{
font-weight:bold;
font-size:8px;
}
/*
* CABECERAS
*/
.EstNotaCreditoCompraImprimirCabecera{
font-weight:bold;
font-size:14px;
}

.EstNotaCreditoCompraImprimirSubcabecera{
font-weight:bold;
font-size:10px;
}





.EstNotaCreditoCompraImprimirEtiqueta2{
	background-color:#900;
}


.EstTablaListadoActivo{
	background-color:#FFF;
	
}

EstTablaListadoInactivo{
	background-color:#CCC;
}