.EstTablaMultipleTipoDestinoCampo{
	vertical-align:middle;

	display:table-cell;
/*	border:1px solid #000;*/

}



.EstTablaMultipleTipoDestinoActivo{
	
}


.EstTablaMultipleTipoDestinoInactivo{
	display:none;
}







.EstDesembolsoComprobanteActivo{
	
}


.EstDesembolsoComprobanteInactivo{
	display:none;
}