@charset "utf-8";
/* CSS Document */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	
/*
************************************************************************
* ESTILOS PRINCIPAL
************************************************************************
*/
	
	/*
	#CapPrincipal{
	overflow:auto;
	}
	*/
	
	
	/*.EstCapContenedor{	
	float:left;
	width:100%;
	margin:10px;
	padding:10px;
	}
	*/
	
	.EstCapPrincipalCabecera{
	margin:0px;
	padding:0px;
	
	height:35px;
	width:100%;
	/*background-color:#069;*/
	background-color:#06C;	
	border: 1px solid #FFF;
	}
	
	.EstCapCabeceraLogo{
	margin:0px;
	padding:0px;
	
	float:left;	
	width:10%;
	height:100%;
	vertical-align:middle;
	}
	
	.EstCapCabeceraSesion{
	margin:0px;
	padding:0px;
	
	float:left;	
	width:38%;
	height:100%;
	vertical-align:middle;
	}
	
	.EstCapCabeceraTipoCambio{
	
	margin:0px;
	padding:0px;
	
	float:left;	
	width:27%;
	text-align:right;
	height:100%;
	vertical-align:middle;
	}
	
	.EstCapCabeceraTiempo{
	margin:0px;
	padding:0px;
	
	float:left;	
	width:25%;
	
	text-align:right;
	height:100%;
	vertical-align:middle;
	}
	
	.EstCapPrincipalMenu{
	margin:0px;
	padding:0px;
	
	background:#06C;
	/*height:40px;*/
	width:600px;
	border: 1px solid #FFF;
	}
	
	.EstCapPrincipalCuerpo{		
	
	margin:0px;
	padding:0px;
	width:600px;
	
	}
	
	.EstCapPrincipalLeyenda{	
	margin:0px;
	padding:0px;
	
	height:50px;
	width:100%;	
	}
	
	.EstCapPrincipalPie{	
	margin:0px;
	padding:0px;
	
	height:50px;
	width:100%;	
	color:#FFFFFF;	
	text-align:center;
	/*background-color:#FFF;*/
	background-image:url(../imagenes/fondo_pie.png);
	/*margin-top:5px;
	padding:5px;*/
	
	/*float:left;*/
	/*	border-radius: 7px;
	border:1px solid #000;*/
	box-shadow: 5px 5px 5px #888888;
	}
	
	
	
	.EstCapContenido{
	
	padding-top:10px;
	padding-bottom:10px;
	
	
	background-image:url(../imagenes/fondo_capa.png);
	background-color:#FFF;
	
	
	
	width:100%;
	
	float:left;
	border-radius: 7px;
	border:1px solid #000;
	/*box-shadow: 5px 5px 5px #888888;*/
	/*	min-height:400px;*/
	/*background-image:url(../imagenes/fondo_cuerpo.jpg);*/
	
	}
	
	
/*
* FORMULARIOS
*/


	.EstFormularioArea{
	width:100%;
	
	display: inline-block;
	
	border-radius: 10px 10px 10px 10px;
	/*background-color:#FFFFFF;*/
	background-image:url(../imagenes/fondo_capa.png);
	border:1px #666666 solid;
	margin:3px;
	padding:10px;
	
	}
		
		
	.EstFormulario{
		font-family:Tahoma, Geneva, sans-serif;
		font-size:14px;
		font-weight:bold;
	}

	.EstFormularioCaja{
	margin:7px;
	padding:10px;
	width: 90%;
	max-width:400px;
	}
	
	.EstFormularioCombo{
	margin:7px;
	padding:10px;
	width: 90%;
	max-width:400px;
	}


} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	
	
/*
************************************************************************
* ESTILOS PRINCIPAL
************************************************************************
*/

/*
#CapPrincipal{
	overflow:auto;
}
*/


/*.EstCapContenedor{	
	float:left;
	width:100%;
	margin:10px;
	padding:10px;
}
*/

	.EstCapPrincipalCabecera{
		margin:0px;
		padding:0px;
		
		height:35px;
		width:100%;
		/*background-color:#069;*/
		background-color:#06C;	
		border: 1px solid #FFF;
	}

	.EstCapCabeceraLogo{
			margin:0px;
	padding:0px;
	
		float:left;	
		width:10%;
		height:100%;
		vertical-align:middle;
	}
	
	.EstCapCabeceraSesion{
			margin:0px;
	padding:0px;
	
		float:left;	
		width:38%;
		height:100%;
		vertical-align:middle;
	}
	
	.EstCapCabeceraTipoCambio{
			
				margin:0px;
	padding:0px;
	
		float:left;	
		width:27%;
			text-align:right;
			height:100%;
			vertical-align:middle;
	}
	
	.EstCapCabeceraTiempo{
			margin:0px;
	padding:0px;
	
		float:left;	
		width:25%;
	
		text-align:right;
		height:100%;
		vertical-align:middle;
	}

.EstCapPrincipalMenu{
	margin:0px;
	padding:0px;
	
	background:#06C;
	/*height:40px;*/
	width:100%;
	border: 1px solid #FFF;
}

.EstCapPrincipalCuerpo{		

	margin:0px;
	padding:0px;
	width:600px;
	
}

.EstCapPrincipalLeyenda{	
	margin:0px;
	padding:0px;
	
	height:50px;
	width:100%;	
}

.EstCapPrincipalPie{	
	margin:0px;
	padding:0px;
	
	height:50px;
	width:100%;	
	color:#FFFFFF;	
	text-align:center;
	/*background-color:#FFF;*/
	background-image:url(../imagenes/fondo_pie.png);
	/*margin-top:5px;
	padding:5px;*/
	
	/*float:left;*/
/*	border-radius: 7px;
	border:1px solid #000;*/
	box-shadow: 5px 5px 5px #888888;
}



.EstCapContenido{

	padding-top:10px;
	padding-bottom:10px;
	

 	background-image:url(../imagenes/fondo_capa.png);
	background-color:#FFF;
	
	
	
	width:100%;
	
	float:left;
	border-radius: 7px;
	border:1px solid #000;
	/*box-shadow: 5px 5px 5px #888888;*/
/*	min-height:400px;*/
	/*background-image:url(../imagenes/fondo_cuerpo.jpg);*/

}



	
/*
* FORMULARIOS
*/


	.EstFormularioArea{
	width:100%;
	
	display: inline-block;
	
	border-radius: 10px 10px 10px 10px;
	/*background-color:#FFFFFF;*/
	background-image:url(../imagenes/fondo_capa.png);
	border:1px #666666 solid;
	margin:3px;
	padding:10px;
	
	}
	
		.EstFormulario{
		font-family:Tahoma, Geneva, sans-serif;
		font-size:14px;
		font-weight:bold;
	}
	
	.EstFormularioCaja{
		margin:7px;
		padding:10px;
		width: 90%;
		max-width:400px;
		
		
		 /* height:30px;*/
		/*  font-family: 'Ubuntu', sans-serif;*/
		  /*margin:10px 0;*/
	/*	  border-radius:5px;
		  border:2px solid #f2f2f2;
		  outline:none;*/
	  /*padding-left:10px;*/
	  
		/*background-color:#FFF;
		padding:2px;
		font-family:Tahoma, Geneva, sans-serif;
		font-size:12px;
		color:#000;
		border:#000000 1px solid;*/
		
		
	}

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	
	
/*
************************************************************************
* ESTILOS PRINCIPAL
************************************************************************
*/

/*
#CapPrincipal{
	overflow:auto;
}
*/


/*.EstCapContenedor{	
	float:left;
	width:100%;
	margin:10px;
	padding:10px;
}
*/

	.EstCapPrincipalCabecera{
		margin:0px;
		padding:0px;
		
		height:35px;
		width:100%;
		/*background-color:#069;*/
		background-color:#06C;	
		border: 1px solid #FFF;
	}

	.EstCapCabeceraLogo{
			margin:0px;
	padding:0px;
	
		float:left;	
		width:10%;
		height:100%;
		vertical-align:middle;
	}
	
	.EstCapCabeceraSesion{
			margin:0px;
	padding:0px;
	
		float:left;	
		width:38%;
		height:100%;
		vertical-align:middle;
	}
	
	.EstCapCabeceraTipoCambio{
			
				margin:0px;
	padding:0px;
	
		float:left;	
		width:27%;
			text-align:right;
			height:100%;
			vertical-align:middle;
	}
	
	.EstCapCabeceraTiempo{
			margin:0px;
	padding:0px;
	
		float:left;	
		width:25%;
	
		text-align:right;
		height:100%;
		vertical-align:middle;
	}

.EstCapPrincipalMenu{
	margin:0px;
	padding:0px;
	
	background:#06C;
	/*height:40px;*/
	width:100%;
	border: 1px solid #FFF;
}

.EstCapPrincipalCuerpo{		

	margin:0px;
	padding:0px;
	width:768x;
	
}

.EstCapPrincipalLeyenda{	
	margin:0px;
	padding:0px;
	
	height:50px;
	width:100%;	
}

.EstCapPrincipalPie{	
	margin:0px;
	padding:0px;
	
	height:50px;
	width:100%;	
	color:#FFFFFF;	
	text-align:center;
	/*background-color:#FFF;*/
	background-image:url(../imagenes/fondo_pie.png);
	/*margin-top:5px;
	padding:5px;*/
	
	/*float:left;*/
/*	border-radius: 7px;
	border:1px solid #000;*/
	box-shadow: 5px 5px 5px #888888;
}



.EstCapContenido{

	padding-top:10px;
	padding-bottom:10px;
	

 	background-image:url(../imagenes/fondo_capa.png);
	background-color:#FFF;
	
	
	
	width:100%;
	
	float:left;
	border-radius: 7px;
	border:1px solid #000;
	/*box-shadow: 5px 5px 5px #888888;*/
/*	min-height:400px;*/
	/*background-image:url(../imagenes/fondo_cuerpo.jpg);*/

}



	
/*
* FORMULARIOS
*/


	.EstFormularioArea{
	width:100%;
	
	display: inline-block;
	
	border-radius: 10px 10px 10px 10px;
	/*background-color:#FFFFFF;*/
	background-image:url(../imagenes/fondo_capa.png);
	border:1px #666666 solid;
	margin:3px;
	padding:10px;
	
	}
	
	
		.EstFormulario{
		font-family:Tahoma, Geneva, sans-serif;
		font-size:14px;
		font-weight:bold;
	}

.EstFormularioCaja{
		margin:7px;
		padding:10px;
		width: 90%;
		max-width:400px;
		
		
		 /* height:30px;*/
		/*  font-family: 'Ubuntu', sans-serif;*/
		  /*margin:10px 0;*/
	/*	  border-radius:5px;
		  border:2px solid #f2f2f2;
		  outline:none;*/
	  /*padding-left:10px;*/
	  
		/*background-color:#FFF;
		padding:2px;
		font-family:Tahoma, Geneva, sans-serif;
		font-size:12px;
		color:#000;
		border:#000000 1px solid;*/
		
		
	}
	
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
	
/*
************************************************************************
* ESTILOS PRINCIPAL
************************************************************************
*/

/*
#CapPrincipal{
	overflow:auto;
}
*/


/*.EstCapContenedor{	
	float:left;
	width:100%;
	margin:10px;
	padding:10px;
}
*/

	.EstCapPrincipalCabecera{
		margin:0px;
		padding:0px;
		
		height:35px;
		width:100%;
		/*background-color:#069;*/
		background-color:#06C;	
		border: 1px solid #FFF;
	}

	.EstCapCabeceraLogo{
			margin:0px;
	padding:0px;
	
		float:left;	
		width:10%;
		height:100%;
		vertical-align:middle;
	}
	
	.EstCapCabeceraSesion{
			margin:0px;
	padding:0px;
	
		float:left;	
		width:38%;
		height:100%;
		vertical-align:middle;
	}
	
	.EstCapCabeceraTipoCambio{
			
				margin:0px;
	padding:0px;
	
		float:left;	
		width:27%;
			text-align:right;
			height:100%;
			vertical-align:middle;
	}
	
	.EstCapCabeceraTiempo{
			margin:0px;
	padding:0px;
	
		float:left;	
		width:25%;
	
		text-align:right;
		height:100%;
		vertical-align:middle;
	}

.EstCapPrincipalMenu{
	margin:0px;
	padding:0px;
	
	background:#06C;
	/*height:40px;*/
	width:100%;
	border: 1px solid #FFF;
}

.EstCapPrincipalCuerpo{		

	margin:0px;
	padding:0px;
width:992x;
	
}

.EstCapPrincipalLeyenda{	
	margin:0px;
	padding:0px;
	
	height:50px;
	width:100%;	
}

.EstCapPrincipalPie{	
	margin:0px;
	padding:0px;
	
	height:50px;
	width:100%;	
	color:#FFFFFF;	
	text-align:center;
	/*background-color:#FFF;*/
	background-image:url(../imagenes/fondo_pie.png);
	/*margin-top:5px;
	padding:5px;*/
	
	/*float:left;*/
/*	border-radius: 7px;
	border:1px solid #000;*/
	box-shadow: 5px 5px 5px #888888;
}



.EstCapContenido{

	padding-top:10px;
	padding-bottom:10px;
	

 	background-image:url(../imagenes/fondo_capa.png);
	background-color:#FFF;
	
	
	
	width:100%;
	
	float:left;
	border-radius: 7px;
	border:1px solid #000;
	/*box-shadow: 5px 5px 5px #888888;*/
/*	min-height:400px;*/
	/*background-image:url(../imagenes/fondo_cuerpo.jpg);*/

}
	
	
	
/*
* FORMULARIOS
*/


	.EstFormularioArea{
	width:100%;
	
	display: inline-block;
	
	border-radius: 10px 10px 10px 10px;
	/*background-color:#FFFFFF;*/
	background-image:url(../imagenes/fondo_capa.png);
	border:1px #666666 solid;
	margin:3px;
	padding:10px;
	
	}
	
		.EstFormulario{
		font-family:Tahoma, Geneva, sans-serif;
		font-size:14px;
		font-weight:bold;
	}
	
	.EstFormularioCaja{
		margin:7px;
		padding:10px;
		width: 90%;
		max-width:400px;
		
		
		 /* height:30px;*/
		/*  font-family: 'Ubuntu', sans-serif;*/
		  /*margin:10px 0;*/
	/*	  border-radius:5px;
		  border:2px solid #f2f2f2;
		  outline:none;*/
	  /*padding-left:10px;*/
	  
		/*background-color:#FFF;
		padding:2px;
		font-family:Tahoma, Geneva, sans-serif;
		font-size:12px;
		color:#000;
		border:#000000 1px solid;*/
		
		
	}
	
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
	
/*
************************************************************************
* ESTILOS PRINCIPAL
************************************************************************
*/

/*
#CapPrincipal{
	overflow:auto;
}
*/


/*.EstCapContenedor{	
	float:left;
	width:100%;
	margin:10px;
	padding:10px;
}
*/

	.EstCapPrincipalCabecera{
		margin:0px;
		padding:0px;
		
		height:35px;
		width:100%;
		/*background-color:#069;*/
		background-color:#06C;	
		border: 1px solid #FFF;
	}

	.EstCapCabeceraLogo{
			margin:0px;
	padding:0px;
	
		float:left;	
		width:10%;
		height:100%;
		vertical-align:middle;
	}
	
	.EstCapCabeceraSesion{
			margin:0px;
	padding:0px;
	
		float:left;	
		width:38%;
		height:100%;
		vertical-align:middle;
	}
	
	.EstCapCabeceraTipoCambio{
			
				margin:0px;
	padding:0px;
	
		float:left;	
		width:27%;
			text-align:right;
			height:100%;
			vertical-align:middle;
	}
	
	.EstCapCabeceraTiempo{
			margin:0px;
	padding:0px;
	
		float:left;	
		width:25%;
	
		text-align:right;
		height:100%;
		vertical-align:middle;
	}

.EstCapPrincipalMenu{
	margin:0px;
	padding:0px;
	
	background:#06C;
	/*height:40px;*/
	width:100%;
	border: 1px solid #FFF;
}

.EstCapPrincipalCuerpo{		

	margin:0px;
	padding:0px;
	width:1200x;
	
}

.EstCapPrincipalLeyenda{	
	margin:0px;
	padding:0px;
	
	height:50px;
	width:100%;	
}

.EstCapPrincipalPie{	
	margin:0px;
	padding:0px;
	
	height:50px;
	width:100%;	
	color:#FFFFFF;	
	text-align:center;
	/*background-color:#FFF;*/
	background-image:url(../imagenes/fondo_pie.png);
	/*margin-top:5px;
	padding:5px;*/
	
	/*float:left;*/
/*	border-radius: 7px;
	border:1px solid #000;*/
	box-shadow: 5px 5px 5px #888888;
}



.EstCapContenido{

	padding-top:10px;
	padding-bottom:10px;
	

 	background-image:url(../imagenes/fondo_capa.png);
	background-color:#FFF;
	
	
	
	width:100%;
	
	float:left;
	border-radius: 7px;
	border:1px solid #000;
	/*box-shadow: 5px 5px 5px #888888;*/
/*	min-height:400px;*/
	/*background-image:url(../imagenes/fondo_cuerpo.jpg);*/

}

	
/*
* FORMULARIOS
*/

	.EstFormularioArea{
	width:100%;
	
	display: inline-block;
	
	border-radius: 10px 10px 10px 10px;
	/*background-color:#FFFFFF;*/
	background-image:url(../imagenes/fondo_capa.png);
	border:1px #666666 solid;
	margin:3px;
	padding:10px;
	
	}
	
	.EstFormulario{
		font-family:Tahoma, Geneva, sans-serif;
		font-size:14px;
		font-weight:bold;
	}
	
	
	.EstFormularioCaja{
		margin:7px;
		padding:10px;
		width: 90%;
		max-width:400px;
		height:20px;
		
		
		 /* height:30px;*/
		/*  font-family: 'Ubuntu', sans-serif;*/
		  /*margin:10px 0;*/
	/*	  border-radius:5px;
		  border:2px solid #f2f2f2;
		  outline:none;*/
	  /*padding-left:10px;*/
	  
		/*background-color:#FFF;
		padding:2px;
		font-family:Tahoma, Geneva, sans-serif;
		font-size:12px;
		color:#000;
		border:#000000 1px solid;*/
		
		
	}
	
}


/*
*********************************************************************************
*********************************************************************************
*********************************************************************************
*********************************************************************************
*********************************************************************************
*/

/*
************************************************************************
* ESTILOS GENERAL
************************************************************************
*/

/*
* Moneda Simbolo
*/
.EstMonedaSimbolo{
	color:#06C;
	font-weight:bold;
}

/*
* Unidad Medida
*/

.EstUnidadMedida{
	font-size:10px;
}



/*
* SUBMENU
*/  
  
.EstCapMenu{	
		/*border:1px solid #F00;*/
	float:left;
	height:55px;	
	/*width:67px;*/
/*	border:1px solid #000;*/
/*	margin-right:10px;*/
/*vertical-align:bottom;*/
	
}

.EstCapSubMenu{	
		/*border:1px solid #F00;*/
	float:left;
	height:55px;	
	/*width:67px;*/
/*	border:1px solid #000;*/
	margin-right:10px;
/*vertical-align:bottom;*/
	
}



/*
* SUBMENU BOTONES
*/


.EstSubMenuBoton{
	background-color:#CCC;
	border:#999 1px  solid;
	 border-radius:5px;
	font-size:12px;
	font-weight:bold;
	
	text-align:center;
	vertical-align:bottom;
	
	float:left;	
	floating :left;
	width:60px;
	height:50px;
	padding:2px;
	/*margin:2px;*/
	/*margin-left:1px;*/
	margin-right:3px;
	margin-bottom:5px;
	margin-top:1px;	
	/*box-shadow: 1px 1px 1px #888888;*/
	
}

.EstSubMenuBoton img{
display:inline-block !important; display:block;	
	width:35px;
	height:35px;
	border:0px;
	vertical-align:bottom;
	margin-left:5px;
	margin-right:5px;
/*	margin-bottom:2px;*/	
}

.EstSubMenuBoton a:hover{
	text-decoration:none;
color:#666;
	margin-left:5px;
	margin-right:1px;	
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;	
}

.EstSubMenuBoton a{
	text-decoration:none;
color:#666;
	margin-left:5px;
	margin-right:1px;	
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;	
}


.EstSubMenuSeparacion{	
	vertical-align:bottom;	
	float:left;	
	floating :left;
	width:3px;
	height:50px;
	padding:2px;
	/*margin:2px;*/
	/*margin-left:1px;*/
	margin-right:1px;
	margin-bottom:5px;
	margin-top:1px;
	
}

#BtnGuardar{
	border:#999 1px outset;
}



/*
************************************************************************
* ESTILOS MENU SUPERIOR
************************************************************************
*/

/*
TABLA TIPO DE CAMBIO
*/

table.EstTablaTipoCambio{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#FFF;
/*	border:#000 1px solid;*/
}
.EstTipoCambioEtiqueta{
	font-weight:bold;	
}

/*
TABLA SESION
*/
table.EstTablaSesion{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#FFF;
}

.EstTablaSesionEtiqueta{
	font-weight:bold;
	color:#FFF;
}

.EstTablaSesionCampo{

}

/*
* SESION
*/

a.EstSesionUsuarioUsuario{
	color:#FFF;;
	text-decoration:none;
}

a:hover.EstSesionUsuarioUsuario{
	color:#FFF;
	text-decoration:underline;	
}

a:visited.EstSesionUsuarioUsuario{
	color:#FFF;
	text-decoration:none;
}

a:link.EstSesionUsuarioUsuario{
	color:#FFF;
	text-decoration:none;	
}

/*
TABLA INFORMACIOON
*/
table.EstTablaInformacion{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
/*	border:#000 1px solid;*/
	color:#FFF;
}
.EstInformacionEtiqueta{
	font-weight:bold;	
}




/*
* TABLA RELOJ
*/
table.EstTablaReloj{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	color:#FFF;
/*	border:#000 1px solid;*/
}

.EstRelojFecha{
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#FFF;
}

.EstRelojHora{
	font-weight:bold;	
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;	color:#FFF;
}



/*
************************************************************************
* ESTILOS PANEL Ref.: Leyenda en tabla listado
************************************************************************
*/

/*
* TABLA PANEL
*/

table.EstPanelTabla{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
}

/*
* PANEL TABLA LISTADO
*/

table.EstPanelTablaListado{
	font-family:Tahoma, Geneva, sans-serif;
	border:#999 2px solid ; 
}

/*
* PANEL TABLA LISTADO - HEAD
*/

thead.EstPanelTablaListadoHead{
	background-color:#333;
	font-size:10px;
	color:#FFFFFF;
}

thead.EstPanelTablaListadoHead th{
	padding-left:2px;
	padding-right:2px;
}

/*
* PANEL TABLA LISTADO - FOOT
*/

tfoot.EstPanelTablaListadoFoot{
	font-size:10px;
	background-color:#333;
	color:#FFFFFF;
}
tfoot.EstPanelTablaListadoFoot a{
	text-decoration:none;
	color:#FFFFFF;
}
tfoot.EstPanelTablaListadoFoot a:linked{
	text-decoration:none;
	color:#FFFFFF;
}

tfoot.EstPanelTablaListadoFoot a:visited{
	text-decoration:none;
	color:#FFFFFF;
}

tfoot.EstPanelTablaListadoFoot a:hover{
	text-decoration:none;
	color:#FF0;
}





/*
* PANEL TABLA LISTADO - BODY
*/

tbody.EstPanelTablaListadoBody  {
	font-size:10px;
}
tbody.EstPanelTablaListadoBody td {
	/*background-color:#FFF;*/
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	padding-left:10px;
	padding-right:10px;
	/*border:#CCC 1px solid ; */
}

tbody.EstPanelTablaListadoBody td.Total{
	font-weight:bold;
}


/*tbody.EstPanelTablaListadoBody td.Etiqueta{
	font-weight:bold;
}
*/


.EstPanelTablaListadoTitulo{
	font-weight:bold;
	font-size:14px;
}

.EstPanelTablaListadoEtiqueta{
	font-weight:bold;
	font-size:12px;
}

.EstPanelTablaListadoContenido{
	font-size:12px;
}

















/*
************************************************************************
* ESTILOS PAGINACION
************************************************************************
*/

a.EstPaginacion{
	
}

.EstPaginaActual{
	font-weight:bold;
	font-size:12px;
}



/*.EstBannerSuperior{
	background-color:#BF0000;
	height:60px;
	
	width:535px;;	
}

.EstBannerInferior{
	font-family:Tahoma, Geneva, sans-serif;
	color:#FFF;
	font-size:10px;
	text-align:right;
	vertical-align:middle;
	background-color:#BF0000;
	height:20px;
	font-weight:bold;
	padding-top:5px;
	padding-right:10px;
	

	
}*/


/*
************************************************************************
* ESTILOS ACERCA DE
************************************************************************
*/


table.EstTablaAcercade{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;	
	border:#000 1px solid;
}
.EstTablaAcercadeEtiqueta{
	font-weight:bold;
}

/*
************************************************************************
* ESTILOS CHAT
************************************************************************
*/

.EstTablaChat{
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
}

.EstChat{
	background-color: #E8E8E8 ;
	border: 1px solid #666666 ;
	bottom: 0px ;
	display: none ;
	left: 0px ;
	padding: 5px 5px 1px 5px ;
	position: absolute ;
	width: 350px ;
}

.EstChat a{
	background-color: #E8E8E8 ;
			/*border: 1px solid #FFFFFF ;*/
			color: #000000 ;
			display: block ;
			margin-bottom: 4px ;
			/*padding: 5px 0px 5px 5px ;*/
			text-decoration: none ;
}
.EstChat a:hover{
	background-color: #666666 ;
			border-color: #000000 ;
			color: #FFFFFF ;
}


/*
************************************************************************
* ESTILOS NOTAS
************************************************************************
*/
.EstNotasTitulo{
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	border:#000000 1px solid;
	margin-bottom:3px;
	padding:5px;
	font-size:10px;
}

.EstNotas{
	padding:5px;
	/*font-style:italic;*/
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	border: #000000 1px solid;
}
.EstNotas p{
	text-align:justify;
}


/*
************************************************************************
* ESTILOS EXTRAS
************************************************************************
*/

#screenshot{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
	}
	
	
	
table.EstTablaLeyenda{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	
}




/*
************************************************************************
* ESTILOS TOTAL Ref.: Encima tabla listado
************************************************************************
*/
/*
* TABLA TOTAL
*/
table.EstTablaTotal{
	font-family:Tahoma, Geneva, sans-serif;


	
	
}




/*
* TABLA TOTAL BODY
*/
	tbody.EstTablaTotalBody  {
		font-size:12px;
	}
	tbody.EstTablaTotalBody td {
		background-color:#FFFFFF;
	/*border:#999999 1px outset; */
	}
	
	tbody.EstTablaTotalBody td.Total{
		font-weight:bold;
	}
	


/*
************************************************************************
* ESTILOS TABLA LISTADO GENERAL
************************************************************************
*/


	.EstListadoContenido{
		font-size:12px;
		font-family:Tahoma, Geneva, sans-serif;	
	}
	.EstListadoEtiqueta{
		font-size:12px;
		font-weight:bold;
		font-family:Tahoma, Geneva, sans-serif;	
	}
	.EstCapListado{
		overflow:auto;
		/*width:980;*/
	}
	
	.EstTablaListadoCodigo{
		font-weight:bold;
		font-size:13px;
		font-family:Tahoma, Geneva, sans-serif;
	}
	
/*
* *****************************
*/
/*	table.EstTablaListado thead.EstTablaListadoHead th { 
		font-weight: 600; 
	}
	table.EstTablaListado thead.EstTablaListadoHead th, table.EstTablaListado tbody.EstTablaListadoBody td { 
		padding: .8rem; font-size: 1.4rem;
	}
	table.EstTablaListado tbody.EstTablaListadoBody td { 
		padding: .8rem; font-size: 1.4rem;
		color: #444; background: #eee; 
	}
	table.EstTablaListado tbody.EstTablaListadoBody tr:not(:last-child) { 
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;  
	}*/

@media screen and (max-width: 600px) {
	
	/* table#miyazaki caption { background-image: none; }*/
/*	table.EstTablaListado thead.EstTablaListadoHead { display: none; }
	table.EstTablaListado tbody.EstTablaListadoBody td { 
		display: block; padding: .6rem; 
	}
	table.EstTablaListado tbody.EstTablaListadoBody tr td:first-child { 
		background: #666; color: #fff; 
	}
	table.EstTablaListado tbody.EstTablaListadoBody td:before { 
		content: attr(data-th); 
		font-weight: bold;
		display: inline-block;
		width: 6rem;  
	}*/

}


.EstTablaFotoListado{

}

.EstTablaFotoListadoImagen{
	min-height:30px;
	wdith:10%;
	float:left;
}


/*
* TABLA LISTADO DIV NUEVO
*/

/*
.EstNTablaListado{
	font-family:Tahoma, Geneva, sans-serif;
//	
//	margin: 0 auto;
//	border-collapse: collapse;
//	font-family: Agenda-Light, sans-serif;
//	font-weight: 100; 
//	background: #333; 
//	color: #fff;
//	text-rendering: optimizeLegibility;
	display: table;
}


.EstNTablaListadoFila{
	display: table-row;
	  
	border:#E8F3FF 1px solid ; 
	padding:5px;
}

.EstNTablaListadoColumna{
	 display: table-cell;
	 font-size:12px;
	 font-weight:normal;
	 
	 border-bottom:#E8F3FF 1px solid ; 
	 border-right:#E8F3FF 1px solid ; 
	 
	padding:5px;
}

.EstNTablaListadoColumna a{
	
	 font-size:12px;
	 font-weight:normal;
	 vertical-align:top;
	 
}

.EstNTablaListadoCabecera{
	display: table-cell;
	text-align:center;
	 
	 
	font-family:Tahoma, Geneva, sans-serif;
	background-color:#06C;
	//background-image:url(../imagenes/tabla_barra.png);
//	background-color:#333;
	height:20px;
	font-size:11px;
	color:#FFFFFF;
	
	padding-left:4px;
	padding-right:4px;
	
}

.ajax-file-upload{
	font-size:12px;
}
*/


  
/*
* TABLA LISTADO 
*/

table.EstTablaListado{
	font-family:Tahoma, Geneva, sans-serif;
/*	
	margin: 0 auto;
	border-collapse: collapse;
	font-family: Agenda-Light, sans-serif;
	font-weight: 100; 
	background: #333; color: #fff;
	text-rendering: optimizeLegibility;
	border-radius: 5px; */
}

/*
* TABLA LISTADO HEAD
*/

thead.EstTablaListadoHead{
	font-family:Tahoma, Geneva, sans-serif;
	background-color:#06C;
	/*background-image:url(../imagenes/tabla_barra.png);*/
	/*background-color:#333;*/
	height:20px;
	font-size:11px;
	color:#FFFFFF;
}
thead.EstTablaListadoHead th{
	padding-left:4px;
	padding-right:4px;
	/*height:25px;*/
}

/*
* TABLA LISTADO HEAD - LINK
*/

thead.EstTablaListadoHead a{
	text-decoration:none;
	color:#FFFFFF;
}
thead.EstTablaListadoHead a:linked{
	text-decoration:none;
	color:#FFFFFF;
}

thead.EstTablaListadoHead a:visited{
	text-decoration:none;
	color:#FFFFFF;
}

thead.EstTablaListadoHead a:hover{
	text-decoration:none;
	color:#FF0;
}

/*
* TABLA LISTADO FOOT
*/
tfoot.EstTablaListadoFoot{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	/*background-color:#333;*/
	/*background-image:url(../imagenes/tabla_barra.png);*/
	background-color:#06C;
	height:20px;
	/*background-image:url(../imagenes/tabla_barra.gif);*/
	color:#FFFFFF;
}

/*
* TABLA LISTADO FOOT - LINK
*/
tfoot.EstTablaListadoFoot a{
	text-decoration:none;
	color:#FFFFFF;
}
tfoot.EstTablaListadoFoot a:linked{
	text-decoration:none;
	color:#FFFFFF;
}

tfoot.EstTablaListadoFoot a:visited{
	text-decoration:none;
	color:#FFFFFF;
}

tfoot.EstTablaListadoFoot a:hover{
	text-decoration:none;
	color:#FF0;
}

/*
* TABLA LISTADO BODY
*/
tbody.EstTablaListadoBody  {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	/*  overflow-x: hidden;*/
}
tbody.EstTablaListadoBody td {
	/*background-color:#FFF;*/
/*	padding-left:2px;
	padding-right:2px;
*/	border:#E8F3FF 1px solid ; 
	padding:5px;
	
}

tbody.EstTablaListadoBody td.SubTitulo {
	background-color:#666;
}

/*        

* TABLA LISTADO BODY - LINK
*/ 
tbody.EstTablaListadoBody a{
	text-decoration:none;
	font-family:Tahoma, Geneva, sans-serif;
	color:#069;
}
tbody.EstTablaListadoBody a:linked{
	text-decoration:none;
	font-family:Tahoma, Geneva, sans-serif;
	color:#069;
}

tbody.EstTablaListadoBody a:visited{
	text-decoration:none;
	font-family:Tahoma, Geneva, sans-serif;
	color:#069;
}

tbody.EstTablaListadoBody a:hover{
	text-decoration:none;
	font-family:Tahoma, Geneva, sans-serif;
	color:#069;
	/*font-weight:bold;*/
}

/*
* TABLA LISTADO BODY - ADICIONALES
*/ 
tbody.EstTablaListadoBody td.EtiquetaTotal {
	background-color:#000;
	color:#FFF;
}

tbody.EstTablaListadoBody td.Total{
	font-weight:bold;
}

tbody.EstTablaListadoBody td.Importante{
	font-weight:bold;
	font-size:11px;
	color:#F00;
}
tbody.EstTablaListadoBody td.EtiquetaPrincipal{
	font-weight:bold;
}

tbody.EstTablaListadoBody td.EtiquetaSecundaria{
	font-style:italic;
	/*font-weight:bold;*/
}


.EstTablaListadoResaltar{
	font-weight:bold;
}

.EstTablaListadoEtiqueta{
	font-weight:bold;
}


.EstTablaListadoContenido{
	
}



/*
************************************************************************
* ESTILOS FORMULARIOS
************************************************************************
*/


/*.EstFormularioAreaCampo{
	vertical-align:top;
	font-size:0.8em;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	margin:2px;
}
*/

.EstFormularioAreaCampo{
	
	
/*	 margin: 0 auto;
  max-width: 700px;*/

	
/*	clear: both;
	overflow: hidden;
	padding: 1px;
	margin: 0 0 10px 0;*/
}

.EstFormularioAreaEtiqueta{
	width: 24%;
	float: left;
	/*padding-right: 10px;*/
}

.EstFormularioAreaContenido{
	width: 74%;
	float: right;
}

/*
* FORMULARIOS
*/
.EstFormularioCapaListado{
	height:auto;
	min-height:600px;
}

.EstFormularioEtiquetaFondo{
	background-color:#CCC;
}

.EstFormularioEtiqueta{

}

.EstFormularioSubEtiqueta{
	color:#999;
	font-size:10px;		
}

.EstFormularioContenido{
	
}



.EstFormularioContenedor{
	padding:4px;
}

.EstFormularioDatoRegistro{
	font-family:Tahoma, Geneva, sans-serif;
	/*font-style:italic;*/
	font-size:10px;
}




.EstFormularioAccion{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	/*color:#FFFFFF;*/
	color:#000;
	font-weight:bold;
	/*background-color:#000000;*/
	padding:1px;
	text-align:left;
}

.EstFormularioBoton{
	/*font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	border:#FFFFFF 1px solid;
	background-color:#069;
	color:#FFFFFF;
	padding:2px;*/
	
	width: 90%;
	max-width:400px;
	
	
	margin: 5px;;
 font-size:12px;	
 font-weight:bold;
  padding-left:5px;;
  padding-top:5px;;
  padding-right:5px;;
  padding-bottom:5px;;  
 
  background-color: #06C;
  border: 1px solid transparent;
  color: #ffffff;
 
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  
}


/*
* FORMULARIOS INPUTS
*/
.EstFormularioCajaEnfocado{
	/*background-color:#FFC;
	padding:2px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#000;
	border:#000000 1px solid;*/
	width: 90%;
	max-width:400px;
	
}

  .EstFormularioCaja{
		 margin:5px;
		 
	width: 90%;
	max-width:400px;
	

	

	  
	
	 /* height:30px;*/
	/*  font-family: 'Ubuntu', sans-serif;*/
	  /*margin:10px 0;*/
/*	  border-radius:5px;
	  border:2px solid #f2f2f2;
	  outline:none;*/
  /*padding-left:10px;*/
  
	/*background-color:#FFF;
	padding:2px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#000;
	border:#000000 1px solid;*/
	
	
}

  .EstFormularioCajaError{
	  margin:5px;
	  
	background-color:#F77;
	width: 90%;
/*	padding:2px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#FFFFFF;*/
	/*border:#FF4A4A 2px solid;*/
	
}

.EstFormularioCajaSeleccionado{
	  margin:5px;
	  
	background-color:#036;
	color:#FFFFFF;
	
	width: 90%;
	max-width:400px;

}

.EstFormularioCajaVacia{
	margin:5px;
	
	/*background-color:#FFF;
	padding:2px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#FFF;*/
	/*border:#000000 1px solid;*/
	
	width: 90%;
	max-width:400px;
}

.EstFormularioCajaBuscar{
	margin:5px;
	
	background-color:#ECF5FF;
	
/*	background-color:#039;
	padding:2px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#FFFFFF;*/
	/*border:#000000 2px solid;*/
	
	width: 90%;
	max-width:400px;
}

.EstFormularioCajaObservacion{
	margin:5px;
	
	background-color:#E7DEFE;
	height:80px;
	/*width:400px;*/
	/*background-color:#FFF;
	padding:2px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#000;*/
/*	border:#000000 1px solid;*/
	overflow:auto;
	
	width: 90%;
	max-width:400px;
}

.EstFormularioCajaDeshabilitado{
	margin:5px;
	
	background-color:#CCC;
/*	padding:2px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#000;*/
	/*border:#000000 1px solid;*/
	width: 90%;
	max-width:400px;
}

.EstFormularioCajaEditable{
	margin:5px;
	
	font-weight:bold;
	width: 90%;
	max-width:400px;
}



.EstFormularioCajaRevisar{
	margin:5px;
	
	background-color:#F30;
/*	padding:2px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#000;
	border:#000000 1px solid;*/
	width: 90%;
	max-width:400px;
}

.EstFormularioCajaFecha{
	margin:5px;
	
/*	background-color:#FFF;
	padding:2px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#000;
	border:#000000 1px solid;*/
	
	width: 90%;
	max-width:400px;
	
}

.EstFormularioCajaHora{
	margin:5px;
	
/*	background-color:#FFF;
	padding:2px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#000;
	border:#000000 1px solid;*/
	
	width: 90%;
	max-width:400px;
}

.EstFormularioCombo{
	margin:5px;
	
/*	padding:2px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#000000;
	border:#000000 1px solid;*/
	/*text-align:right;*/
	width: 90%;
	max-width:400px;
	
}




.EstFormulario{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
}

.EstFormularioNota{
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#09C;
}


.EstFormularioSubIndice{
	font-size:8px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#09C;
}


.EstFormularioTitulo{
	font-size:18px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	/*padding-left:10px;
	padding-right:10px;
	padding-bottom:3px;
	padding-top:3px;
	background-color:#CCCCCC;
	border:#000000 1px solid;*/
	color:#06C;
}


.EstFormularioSubTitulo{
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	text-decoration:underline;
	color:#06C;
}

.EstFormularioTablaListado{
	 
	 
	font-size:10px;
	font-family:Tahoma, Geneva, sans-serif;
}

.EstFormularioArea{
	 
	display: inline-block;
	
	border-radius: 10px 10px 10px 10px;
	/*background-color:#FFFFFF;*/
	background-image:url(../imagenes/fondo_capa.png);
	border:1px #666666 solid;
	margin:3px;
	padding:10px;
	
}



.EstFormularioResaltar{
	color:#090;	
}


.EstFormularioResaltarSeccion{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	font-weight:bold;
	background-color:#CCC;
}

.EstFormularioUpload {
	margin: 0;
	padding: 0;
}

/*.EstFormularioUpload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}*/




.EstFormularioAreaDetalle{
	/*width:800;
	min-height:200px;*/
	/*overflow:scroll;*/
	width:100%;
}

	
.EstFormularioAreaDetalleEstado{
clear: both;
	
	width: 49%;
	min-height:30px;
	float: left;
	text-align:left;
/*	padding-right: 10px;*/
	border:1px solid #F00;
}

.EstFormularioAreaDetalleAccion{
	clear: both;
	width: 49%;
	min-height:30px;
	float: left;
	text-align:right;
	/*	padding-right: 10px;*/	
	border:1px solid #6F9;
	
}
.EstFormularioAreaDetalleResultado{
	clear: both;
	width: 100%;
	float: left;
	/*	padding-right: 10px;*/
	border:1px solid  #33F;	
}

.EstFormularioAreaDetalleListado{
	clear: both;
	width: 100%;
	float: left;
	/*padding-right: 10px;*/
	border:1px solid #FF3;
}

/*
************************************************************************
* ESTILOS NOTIFICACIONES Ref.:
************************************************************************
*/

	a.EstNotificacionEnlace{
		color:#FFF;
		text-decoration:none;
	}
	
	a:hover.EstNotificacionEnlace{
		color:#FFF;
	}
	
	a:visited.EstNotificacionEnlace{
		color:#FFF;
		text-decoration:none;
	}
	
	a:link.EstNotificacionEnlace{
		color:#FFF;
		text-decoration:none;
	}


/*
************************************************************************
* ESTILOS TABLA TOTALES Ref.:
************************************************************************
*/
table.EstTablaTotales{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}
table.EstTablaTotales td{


}


table.EstTablaTotales td.EstTablaTotalesEtiqueta{
	background-color:#E7F9FE;
	padding:2px;
	font-size:12px;
	vertical-align:text-top;
}


table.EstTablaTotales td.EstTablaTotalesContenido{
	border:solid #069 1px;
	padding:2px;
	vertical-align:bottom;

}


/*
************************************************************************
* ESTILOS TABLA RESULTADO Ref.:
************************************************************************
*/

table.EstTablaNotificacion{
	font-family:Tahoma, Geneva, sans-serif;	
}

.EstNotificacionTitulo{
	color:#FFFFFF;	
	font-size:12px;
	font-weight:bold;		
}

.EstNotificacionContenido{
	color:#FFFFFF;	
	font-size:12px;
	font-weight:bold;		
}

.EstNotificacionEtiqueta{
	color:#FFFFFF;
	font-size:12px;
}


table.ETablaResultadoListado{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}

.EResultadoError{
	color:#FF0000;
	font-weight:bold;
}

.EResultadoSatisfaccion{
	color:#000000;
	font-weight:bold;
}








/*
************************************************************************
* ESTILOS IMPORTACION EXCEL
************************************************************************
*/
.EstImportarRegistrarSi{
	
}

.EstImportarRegistrarNO{
	color:#F00;
	font-weight:bold;	
}








/*******************************************************************************************/


/*
* Boton
*/
/*
a.EstSesionBoton{
background-color:#FFFFFF;
border:1px #000000 solid;
text-decoration:none;
color:#000000;
font-size:12px;
padding-left:10px;
padding-right:10px;
padding-top:2px;
padding-bottom:2px;

font-family:Tahoma, Geneva, sans-serif;
}

a:hover.EstSesionBoton{
background-color:#000000;
border:1px #000000 solid;
text-decoration:none;
color:#FFFFFF;
font-size:12px;
padding-left:10px;
padding-right:10px;
padding-top:2px;
padding-bottom:2px;
font-family:Tahoma, Geneva, sans-serif;
}

a:visited.EstSesionBoton{
background-color:#FFFFFF;
border:1px #000000 solid;
text-decoration:none;
color:#000000;
font-size:12px;
padding-left:10px;
padding-right:10px;
padding-top:2px;
padding-bottom:2px;

font-family:Tahoma, Geneva, sans-serif;
}

a:link.EstSesionBoton{
background-color:#FFFFFF;
border:1px #000000 solid;
text-decoration:none;
color:#000000;
font-size:12px;
padding-left:10px;
padding-right:10px;
padding-top:2px;
padding-bottom:2px;
font-family:Tahoma, Geneva, sans-serif;
}
*/











/*
* BOTONES PRINCIPALES
*/
a.EstBotonIcono{
color:#000;
text-decoration:none;
}

a:hover.EstBotonIcono{
color:#000;
text-decoration:none;
}

a:visited.EstBotonIcono{
color:#000;
text-decoration:none;
}

a:link.EstBotonIcono{
color:#000;
text-decoration:none;
}


















/*
************************************************************************
* ESTILOS SIN CLASE
************************************************************************
*/

fieldset{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    border-radius: 8px;
    margin: 0 5px;
    height: 100%;
}

input[type="text"] {
	font-family:Tahoma, Geneva, sans-serif;
	padding:3px;
	border-radius: 5px;
	line-height: 15px;
	border:#808080 1px solid;
}

input[type="text"]:focus { 
	font-family:Tahoma, Geneva, sans-serif;
	/* background-color:#F4F4F4;*/
	/*color:#000;*/
	padding:3px;
	border:#000 2px solid;
}

input[type="password"] {
	font-family:Tahoma, Geneva, sans-serif;
	padding:3px;
	border-radius: 5px;
	line-height: 15px;
	border:#808080 1px solid;
}

input[type="password"]:focus {
	font-family:Tahoma, Geneva, sans-serif;
	/* background-color:#F4F4F4;*/
	/*color:#000;*/
	padding:3px;
	border:#000 2px solid;
}

select{
	font-family:Tahoma, Geneva, sans-serif;
	border-radius: 5px;
	padding:4px;
	word-wrap: break-word;
	


	font-size:12px;
	color:#000000;
	border:#000000 1px solid;
	
}

select:focus{
	font-family:Tahoma, Geneva, sans-serif;
	background-color:#F4F4F4;
	color:#000;
	padding:2px;
	border:#000 2px solid;
	word-wrap: break-word;
}

textarea{
	font-family:Tahoma, Geneva, sans-serif;
	/*	border-radius: 5px;
	padding:4px;*/
	
	padding:3px;
	border-radius: 5px;
	line-height: 15px;
	border:#808080 1px solid;
}

textarea:focus{
	font-family:Tahoma, Geneva, sans-serif;
	
	padding:3px;
	border:#000 2px solid;
}





.EstBotonCorto{
		
	/*background-color:#CCC;*/
	/*border:#6CC 1px  solid;*/
	border-radius:5px;
	font-size:12px;
	font-weight:bold;
	
	text-align:center;
	vertical-align:bottom;
	
	float:left;
	/*floating :right;*/
	/*width:20px;*/
	height:20px;
	padding:2px;
	/*margin:2px;*/
	/*margin-left:1px;*/
	margin-right:3px;
	margin-bottom:5px;
	margin-top:1px;	
	/*box-shadow: 1px 1px 1px #888888;*/
	
}








/*
************************************************************************
* ESTILOS PRINCIPAL
************************************************************************
*/

/*
#CapPrincipal{
	overflow:auto;
}
*/


/*.EstCapContenedor{	
	float:left;
	width:100%;
	margin:10px;
	padding:10px;
}
*/

	.EstCapPrincipalCabecera{
		margin:0px;
		padding:0px;
		
		height:35px;
		width:100%;
		/*background-color:#069;*/
		background-color:#06C;	
		border: 1px solid #FFF;
	}

	.EstCapCabeceraLogo{
			margin:0px;
	padding:0px;
	
		float:left;	
		width:10%;
		height:100%;
		vertical-align:middle;
	}
	
	.EstCapCabeceraSesion{
			margin:0px;
	padding:0px;
	
		float:left;	
		width:38%;
		height:100%;
		vertical-align:middle;
	}
	
	.EstCapCabeceraTipoCambio{
			
				margin:0px;
	padding:0px;
	
		float:left;	
		width:27%;
			text-align:right;
			height:100%;
			vertical-align:middle;
	}
	
	.EstCapCabeceraTiempo{
			margin:0px;
	padding:0px;
	
		float:left;	
		width:25%;
	
		text-align:right;
		height:100%;
		vertical-align:middle;
	}

.EstCapPrincipalMenu{
	margin:0px;
	padding:0px;
	
	background:#06C;
	/*height:40px;*/
	width:100%;
	border: 1px solid #FFF;
}

.EstCapPrincipalCuerpo{		

	margin:0px;
	padding:0px;
		width:100%;	
	
}

.EstCapPrincipalLeyenda{	
	margin:0px;
	padding:0px;
	
	height:50px;
	width:100%;	
}

.EstCapPrincipalPie{	
	margin:0px;
	padding:0px;
	
	height:50px;
	width:100%;	
	color:#FFFFFF;	
	text-align:center;
	/*background-color:#FFF;*/
	background-image:url(../imagenes/fondo_pie.png);
	/*margin-top:5px;
	padding:5px;*/
	
	/*float:left;*/
/*	border-radius: 7px;
	border:1px solid #000;*/
	box-shadow: 5px 5px 5px #888888;
}



.EstCapContenido{

	padding-top:10px;
	padding-bottom:10px;
	

 	background-image:url(../imagenes/fondo_capa.png);
	background-color:#FFF;
	
	
	
	width:100%;
	
	float:left;
	border-radius: 7px;
	border:1px solid #000;
	/*box-shadow: 5px 5px 5px #888888;*/
/*	min-height:400px;*/
	/*background-image:url(../imagenes/fondo_cuerpo.jpg);*/

}