/* CSS Document */

.EstFormularioImprimirEtiqueta{
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}

.EstFormularioImprimirContenido{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

.EstFormularioImprimirDatosImpresion{
	font-size:10px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}

.EstFormularioImprimirCabecera{
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}

.EstFormularioImprimirTitulo{
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

.EstFormularioImprimirTituloCodigo{
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}

.EstFormularioImprimirLinea{
	border:#000 2px solid;	
}

.EstFormularioImprimirSubLinea{
	border:#000 1px thin;	
}







/*
* CABECERAS
*/
.EstFormularioImprimirImprimirCabecera{
	font-weight:bold;
	font-size:16px;
}

.EstFormularioImprimirImprimirSubcabecera{
	font-weight:bold;
	font-size:10px;
}

/*
* TABLA IMPRIMIR
*/
.EstFormularioImprimirImprimirCapa{
	border:1px solid #003;
	padding:10px;
	margin-bottom:5px;
}
table.EstFormularioImprimirImprimirTabla{
	font-family:Arial, Helvetica, sans-serif;
}
/*
* REPORTE TABLA IMPRIMIR - HEAD
*/
thead.EstFormularioImprimirImprimirTablaHead{
	background-image:url(../imagenes/tabla_barra.png);
	height:20px;
	font-size:14px;
	font-weight:bold;
	color:#FFFFFF;
}

thead.EstFormularioImprimirImprimirTablaHead th{
	padding-left:2px;
	padding-right:2px;
}
/*
* REPORTE TABLA IMPRIMIR - BODY
*/
tbody.EstFormularioImprimirImprimirTablaBody{
	/*font-size:10px;*/
}

tbody.EstFormularioImprimirImprimirTablaBody td {
	/*background-color:#FFF;*/
	padding-left:2px;
	padding-right:2px;
	/*border:#CCC 1px solid ; */
}

tbody.EstFormularioImprimirImprimirTablaBody td.Observacion {
	padding-left:2px;
	padding-right:2px;
	border:#CCC 1px solid ; 
}


/*
* ETIQUETAS Y CONTENIDOS
*/
.EstFormularioImprimirImprimirEtiqueta{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	/*color:#FFF;;*/
}

.EstFormularioImprimirImprimirContenido{
	/*font-weight:bold;*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

/*
* FONDO
*/
.EstFormularioImprimirImprimirEtiquetaFondo{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	/*background-color:#036;*/
	/*color:#000;*/
}


/*
* TEXTO BODY OTROS
*/
.EstFormularioImprimirImprimirContenidoEspecial{
	letter-spacing:3px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

.EstFormularioImprimirImprimirContenidoFecha{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}


/*
* TEXTO DETALLE 
*/
.EstFormularioImprimirDetalleImprimirEtiqueta{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	/*color:#0066CC;*/
}

.EstFormularioImprimirDetalleImprimirContenido{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
/*
* TEXTO TOTAL
*/
.EstFormularioImprimirImprimirEtiquetaTotal{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	/*color:#FFF;;*/
}
.EstFormularioImprimirImprimirContenidoTotal{
	/*font-weight:bold;*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
/*
* TEXTO TOTAL OTROS
*/
.EstFormularioImprimirImprimirMoneda{
	font-weight:bold;
	font-size:12px;
}



