.EstCapAlmacenMovimientoEntradaCostoVinculados{
background-color:#E6E6E6;
	border:#999 1px solid;
	height:500px;
	width:100%;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}

.EstCapAlmacenMovimientoEntradaDetalles{
background-color:#E6E6E6;
	border:#999 1px solid;
	/*height:500px;*/
	
	height:auto;
	min-height:500px;
	
	
	width:100%;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}


/*
* IMPRESION
*/
table.EstAlmacenMovimientoEntradaImprimirTabla{
font-family:Arial, Helvetica, sans-serif;
}
/*
* HEAD
*/
thead.EstAlmacenMovimientoEntradaImprimirTablaHead{
background-image:url(../../../imagenes/tabla_barra.png);
/*background-color:#333;*/
height:20px;
font-size:10px;
color:#FFFFFF;
}

thead.EstAlmacenMovimientoEntradaImprimirTablaHead th{
padding-left:2px;
padding-right:2px;
/*height:25px;*/
}
/*
* BODY
*/
tbody.EstAlmacenMovimientoEntradaImprimirTablaBody{
font-size:10px;
}

tbody.EstAlmacenMovimientoEntradaImprimirTablaBody td {
background-color:#FFF;
padding-left:2px;
padding-right:2px;
border:#CCC 1px solid ; 
}

/*
* TEXTO BODY
*/
.EstAlmacenMovimientoEntradaImprimirEtiqueta{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000;
}

.EstAlmacenMovimientoEntradaImprimirContenido{
/*font-weight:bold;*/
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}
/*
* TEXTO BODY OTROS
*/
.EstAlmacenMovimientoEntradaImprimirContenidoEspecial{
letter-spacing:3px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}

.EstAlmacenMovimientoEntradaImprimirContenidoFecha{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
}
/*
* TEXTO DETALLE 
*/
.EstAlmacenMovimientoEntradaDetalleImprimirEtiqueta{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#0066CC;
}

.EstAlmacenMovimientoEntradaDetalleImprimirContenido td{
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
}
/*
* TEXTO TOTAL
*/
.EstAlmacenMovimientoEntradaImprimirEtiquetaTotal{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000;
}
.EstAlmacenMovimientoEntradaImprimirContenidoTotal{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}
/*
* TEXTO TOTAL OTROS
*/
.EstAlmacenMovimientoEntradaImprimirMoneda{
font-weight:bold;
font-size:8px;
}
/*
* CABECERAS
*/
.EstAlmacenMovimientoEntradaImprimirCabecera{
font-weight:bold;
font-size:14px;
}

.EstAlmacenMovimientoEntradaImprimirSubcabecera{
font-weight:bold;
font-size:10px;
}





.EstAlmacenMovimientoEntradaImprimirEtiqueta2{
	background-color:#900;
}


.EstTablaListadoActivo{
	background-color:#FFF;
	
}

EstTablaListadoInactivo{
	background-color:#CCC;
}