.EstCapTrasladoAlmacenDetalles{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	height:auto;
	min-height:200px;
	width:100%;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
}


/*
* IMPRESION
*/
table.EstTrasladoAlmacenImprimirTabla{
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
/*
* HEAD
*/
thead.EstTrasladoAlmacenImprimirTablaHead{
background-image:url(../../../imagenes/tabla_barra.png);
/*background-color:#333;*/
height:20px;
font-size:10px;
color:#FFFFFF;
}

thead.EstTrasladoAlmacenImprimirTablaHead th{
	padding-left:2px;
	padding-right:2px;
	text-transform: uppercase;  
/*height:25px;*/
}
/*
* BODY
*/
tbody.EstTrasladoAlmacenImprimirTablaBody{
font-size:12px;
}

tbody.EstTrasladoAlmacenImprimirTablaBody td {
	background-color:#FFF;
	/*padding-left:2px;
	padding-right:2px;*/
	border:#CCC 1px solid ; 
	padding:5px;
}

/*
* TEXTO BODY
*/
.EstTrasladoAlmacenImprimirEtiqueta{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	text-transform: uppercase;  
}

.EstTrasladoAlmacenImprimirContenido{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
}
/*
* TEXTO BODY OTROS
*/
.EstTrasladoAlmacenImprimirContenidoEspecial{
letter-spacing:3px;
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
}

.EstTrasladoAlmacenImprimirContenidoFecha{
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
}
/*
* TEXTO DETALLE 
*/
.EstTrasladoAlmacenDetalleImprimirEtiqueta{
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#0066CC;
}

.EstTrasladoAlmacenDetalleImprimirContenido td{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
}
/*
* TEXTO TOTAL
*/
.EstTrasladoAlmacenImprimirEtiquetaTotal{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	text-transform: uppercase;  
}
.EstTrasladoAlmacenImprimirContenidoTotal{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}

/*
* TEXTO TOTAL OTROS
*/
.EstTrasladoAlmacenImprimirMoneda{
font-weight:bold;
font-size:8px;
}

/*
* CABECERAS
*/
.EstTrasladoAlmacenImprimirCabecera{
font-weight:bold;
font-size:14px;
}

.EstTrasladoAlmacenImprimirSubcabecera{
font-weight:bold;
font-size:10px;
}





.EstTrasladoAlmacenImprimirEtiqueta2{
	background-color:#900;
}