

div.saltopagina{ 
	display:block; 
	page-break-before:always;
}
   
   
   

/*
* IMPRESION
*/
table.EstGarantiaImprimirTabla{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8px;
}
/*
* HEAD
*/
thead.EstGarantiaImprimirTablaHead{
	background-image:url(../../../imagenes/tabla_barra.png);
	/*background-color:#333;*/
	height:20px;
	font-size:10px;
	color:#FFFFFF;
}

thead.EstGarantiaImprimirTablaHead th{
	padding-left:2px;
	padding-right:2px;
	text-transform: uppercase;  
	/*height:25px;*/
}
/*
* BODY
*/
tbody.EstGarantiaImprimirTablaBody{
font-size:10px;
}

tbody.EstGarantiaImprimirTablaBody td {
	
	
	border:#333 1px solid ; 
	
	
}

/*
* TEXTO BODY
*/


.EstGarantiaImprimirSubTituloFondo{
	background-color:#000;
	
}

.EstGarantiaImprimirSubTitulo{
	color:#FFF;
	font-weight:bold;
}

.EstGarantiaImprimirEtiqueta{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	text-transform: uppercase;  
}

.EstGarantiaImprimirContenido{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:10px;
}

.EstGarantiaImprimirModalidadIngreso{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:14px;
	text-transform: uppercase;  
}

/*
* TEXTO BODY OTROS
*/
.EstGarantiaImprimirContenidoEspecial{
letter-spacing:3px;
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
}

.EstGarantiaImprimirContenidoFecha{
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
}
/*
* TEXTO DETALLE 
*/
.EstGarantiaDetalleImprimirEtiqueta{
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#0066CC;
}

.EstGarantiaDetalleImprimirContenido td{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
}
/*
* TEXTO TOTAL
*/
.EstGarantiaImprimirEtiquetaTotal{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	text-transform: uppercase;  
}
.EstGarantiaImprimirContenidoTotal{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}
/*
* TEXTO TOTAL OTROS
*/
.EstGarantiaImprimirMoneda{
font-weight:bold;
font-size:8px;
}
/*
* CABECERAS
*/
.EstGarantiaImprimirCabecera{
font-weight:bold;
font-size:14px;
}

.EstGarantiaImprimirSubcabecera{
font-weight:bold;
font-size:10px;
}





.EstGarantiaImprimirEtiqueta2{
	background-color:#900;
}