.EstCapTrabajoTerminadoCotizacionHistoriales{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	height:auto;
	min-height:200px;
	width:800px;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}

.EstCapTrabajoTerminadoHistoriales{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	height:auto;
	min-height:200px;
	width:800px;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}

.EstCapTrabajoTerminadoCotizaciones{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	height:auto;
	min-height:200px;
	min-width:800px;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}


.EstCapTrabajoTerminadoFotoVINs{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	height:auto;
	min-height:50px;
	width:90px;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}

.EstCapTrabajoTerminadoFotoDelanteras{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	height:auto;
	min-height:50px;
	width:90px;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}

.EstCapTrabajoTerminadoFotoCupones{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	height:auto;
	min-height:50px;
	width:90px;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}

.EstCapTrabajoTerminadoFotoMantenimientos{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	height:auto;
	min-height:50px;
	width:90px;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}









.EstCapTrabajoTerminadoHerramientas{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	height:auto;
	min-height:200px;
	width:100%;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}


.EstCapTrabajoTerminadoGastos{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	height:auto;
	min-height:200px;
	width:100%;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}





.EstCapTrabajoTerminadoFotos{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	height:auto;
	min-height:50px;
	width:400px;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}



.EstCapTrabajoTerminadoSuministros{
	background-color:#F4F4F4;
	border:#CCC 1px solid;

	height:auto;
	min-height:20px;


	
	width:100%;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}




.EstCapTrabajoTerminadoProductos{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	height:auto;
	min-height:150px;
	width:100%;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}

/*.EstCapTrabajoTerminadoProductos2{
	background-color:#F4F4F4;
	border:#CCC 1px solid;

	height:auto;
	min-height:50px;
	width:100%;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}
*/

.EstCapTrabajoTerminadoTareas{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	height:auto;
	min-height:150px;
	width:100%;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}

/*.EstCapTrabajoTerminadoTareas{
	background-color:#F4F4F4;
	border:#CCC 1px solid;

	height:auto;
	min-height:50px;
	width:100%;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}
*/

.EstCapTrabajoTerminadoTemparios{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	height:auto;
	min-height:20px;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}
.EstCapTrabajoTerminadoHistoriales{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	height:auto;
	min-height:200px;
	width:800px;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}


/*
* IMPRESION
*/
table.EstTrabajoTerminadoImprimirTabla{
font-family:Verdana, Arial, Helvetica, sans-serif;
}
/*
* HEAD
*/
thead.EstTrabajoTerminadoImprimirTablaHead{
background-image:url(../../../imagenes/tabla_barra.png);
/*background-color:#333;*/
height:20px;
font-size:10px;
color:#FFFFFF;
}

thead.EstTrabajoTerminadoImprimirTablaHead th{
	padding-left:2px;
	padding-right:2px;
	text-transform: uppercase;  
	/*height:25px;*/
}
/*
* BODY
*/
tbody.EstTrabajoTerminadoImprimirTablaBody{
font-size:10px;
}

tbody.EstTrabajoTerminadoImprimirTablaBody td {
	background-color:#FFF;
	padding-left:2px;
	padding-right:2px;
	border:#CCC 1px solid ; 
	padding:5px;
}

/*
* TEXTO BODY
*/
.EstTrabajoTerminadoImprimirEtiqueta{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	text-transform: uppercase;  
}

.EstTrabajoTerminadoImprimirContenido{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
}
/*
* TEXTO BODY OTROS
*/
.EstTrabajoTerminadoImprimirContenidoEspecial{
letter-spacing:3px;
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
}

.EstTrabajoTerminadoImprimirContenidoFecha{
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
}
/*
* TEXTO DETALLE 
*/
.EstTrabajoTerminadoDetalleImprimirEtiqueta{
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#0066CC;
}

.EstTrabajoTerminadoDetalleImprimirContenido td{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
}
/*
* TEXTO TOTAL
*/
.EstTrabajoTerminadoImprimirEtiquetaTotal{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	text-transform: uppercase;  
}
.EstTrabajoTerminadoImprimirContenidoTotal{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}
/*
* TEXTO TOTAL OTROS
*/
.EstTrabajoTerminadoImprimirMoneda{
font-weight:bold;
font-size:8px;
}
/*
* CABECERAS
*/
.EstTrabajoTerminadoImprimirCabecera{
font-weight:bold;
font-size:14px;
}

.EstTrabajoTerminadoImprimirSubcabecera{
font-weight:bold;
font-size:10px;
}





.EstTrabajoTerminadoImprimirEtiqueta2{
	background-color:#900;
}