/*
* IMPRESION
*/

.EstOrdenVentaVehiculoImprimirEtiqueta{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8px;
	color:#999;
	text-transform: uppercase;  

}

.EstOrdenVentaVehiculoImprimirContenido{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:8px;
}

.EstOrdenVentaVehiculoImprimirMarcaModeloVersion{
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	/*font-family:Verdana, Arial, Helvetica, sans-serif;*/
	color:#666;
	font-size:8px;

}




.EstOrdenVentaVehiculoImprimirNota3{
	font-size:7px;
	font-weight:bold;
}




table.EstOrdenVentaVehiculoImprimirTablaPlanMantenimiento{
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

/*
* HEAD
*/
thead.EstOrdenVentaVehiculoImprimirTablaPlanMantenimientoHead{
	
	height:20px;
	font-size:10px;
	color:#FFFFFF;
}

thead.EstOrdenVentaVehiculoImprimirTablaPlanMantenimientoHead th{
	padding-left:2px;
	padding-right:2px;
	text-transform: uppercase;  
	/*height:25px;*/
}

/*
* BODY
*/
tbody.EstOrdenVentaVehiculoImprimirTablaPlanMantenimientoBody{
	font-size:10px;
}

tbody.EstOrdenVentaVehiculoImprimirTablaPlanMantenimientoBody td {
	/*background-color:#FFF;*/

	font-size:8px;

	border: #F4F4F4 1px solid ; 
	padding:1px;
}


ul{
    padding-left:6px;
}

ul li {

}