@media print { 


	
	.EstVentaDirectaPie{ 
		position:fixed; 
	
		letf:10cm; 
		top:26.3cm; 
		
		font-size:10px;
		width:100%;
		text-align:center;
			color:#CCC;
	} 
	
	.EstVentaDirectaPieAux{ 
		width:100%;
		height:30px;
	}
} 
@media screen { 
	
	
	.EstVentaDirectaPie{ 
		font-size:10px;
		width:100%;
		text-align:center;		

	
	} 
	
	.EstVentaDirectaPieAux{ 
		width:100%;
		text-align:center;		
	} 
	
} 




/*
* IMPRESION
*/
table.EstVentaDirectaImprimirTabla{
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

/*
* HEAD
*/
thead.EstVentaDirectaImprimirTablaHead{
	background-image:url(../../../imagenes/tabla_barra.png);
	/*background-color:#333;*/
	height:20px;
	font-size:10px;
	color:#FFFFFF;
}

thead.EstVentaDirectaImprimirTablaHead th{
	padding-left:2px;
	padding-right:2px;
	text-transform: uppercase;  
	/*height:25px;*/
}

/*
* BODY
*/
tbody.EstVentaDirectaImprimirTablaBody{
	font-size:10px;
}

tbody.EstVentaDirectaImprimirTablaBody td {
	background-color:#FFF;

	border:#000000 1px solid ; 
	padding:2px;
}

/*
* TEXTO BODY
*/
.EstVentaDirectaImprimirEtiqueta{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#999;
	text-transform: uppercase;  
}

.EstVentaDirectaImprimirContenido{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:10px;
}

.EstVentaDirectaImprimirObservacion{
	text-align:justify;
	
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:10px;
}


/*
* TEXTO BODY OTROS
*/
.EstVentaDirectaImprimirContenidoEspecial{
	letter-spacing:3px;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
}

.EstVentaDirectaImprimirContenidoFecha{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
}

.EstVentaDirectaImprimirMoneda{
	font-weight:bold;
	font-size:8px;
}

.EstVentaDirectaImprimirFecha{
	font-weight:bold;
	font-size:12px;
}

.EstVentaDirectaImprimirCliente{
	font-weight:bold;
	font-size:12px;
}

.EstVentaDirectaImprimirRepresentante{
	font-weight:bold;
	font-size:10px;
}

/*
* TEXTO DETALLE 
*/
.EstVentaDirectaDetalleImprimirEtiqueta{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#0066CC;
}

.EstVentaDirectaDetalleImprimirContenido td{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}
/*
* TEXTO TOTAL
*/
.EstVentaDirectaImprimirEtiquetaTotal{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	text-transform: uppercase;  
}
.EstVentaDirectaImprimirContenidoTotal{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}

/*
* CABECERAS
*/
.EstVentaDirectaImprimirCabecera{
	font-weight:bold;
	font-size:14px;
}

.EstVentaDirectaImprimirSubcabecera{
	font-weight:bold;
	font-size:10px;
}



.EstVentaDirectaImprimirEtiqueta2{
	background-color:#900;
}


.EstVentaDirectaImprimirNota1{
	font-size:10px;
}

.EstVentaDirectaImprimirNota2{
	font-size:10px;
}

.EstVentaDirectaImprimirNota3{
	font-size:10px;
	font-weight:bold;
}

.EstVentaDirectaImprimirFirma{
	font-size:10px;
}



.EstCapVentaDirectaTotal{
	border:#000 3px solid;
}