
/*
* IMPRESION
*/
table.EstVehiculoIngresoEventoImprimirTabla{
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
/*
* HEAD
*/
thead.EstVehiculoIngresoEventoImprimirTablaHead{
background-image:url(../../../imagenes/tabla_barra.png);
/*background-color:#333;*/
height:20px;
font-size:10px;
color:#FFFFFF;
}

thead.EstVehiculoIngresoEventoImprimirTablaHead th{
	padding-left:2px;
	padding-right:2px;
	text-transform: uppercase;  
/*height:25px;*/
}
/*
* BODY
*/
tbody.EstVehiculoIngresoEventoImprimirTablaBody{
font-size:12px;
}

tbody.EstVehiculoIngresoEventoImprimirTablaBody td {
	background-color:#FFF;
	/*padding-left:2px;
	padding-right:2px;*/
	border:#CCC 1px solid ; 
	padding:5px;
}

/*
* TEXTO BODY
*/
.EstVehiculoIngresoEventoImprimirEtiqueta{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	text-transform: uppercase;  
}

.EstVehiculoIngresoEventoImprimirContenido{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
}
/*
* TEXTO BODY OTROS
*/
.EstVehiculoIngresoEventoImprimirContenidoEspecial{
letter-spacing:3px;
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
}

.EstVehiculoIngresoEventoImprimirContenidoFecha{
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
}
/*
* TEXTO DETALLE 
*/
.EstVehiculoIngresoEventoDetalleImprimirEtiqueta{
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#0066CC;
}

.EstVehiculoIngresoEventoDetalleImprimirContenido td{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
}
/*
* TEXTO TOTAL
*/
.EstVehiculoIngresoEventoImprimirEtiquetaTotal{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	text-transform: uppercase;  
}
.EstVehiculoIngresoEventoImprimirContenidoTotal{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}

/*
* TEXTO TOTAL OTROS
*/
.EstVehiculoIngresoEventoImprimirMoneda{
font-weight:bold;
font-size:8px;
}

/*
* CABECERAS
*/
.EstVehiculoIngresoEventoImprimirCabecera{
font-weight:bold;
font-size:14px;
}

.EstVehiculoIngresoEventoImprimirSubcabecera{
font-weight:bold;
font-size:10px;
}





.EstVehiculoIngresoEventoImprimirEtiqueta2{
	background-color:#900;
}

/*
FONDOS
*/

.EstVehiculoIngresoEventoImprimirEtiquetaFondo{
	background-color:#F2F2F2;
	
}