.EstFacturImprimirCapaPrincipal{
	position:relative;
}

.EstFacturImprimirObsequio{
	position:absolute;
	left: 195px;
	top: 379px;
	width: 302px;
	height: 263px;
	
}


.EstFacturImprimirSpot{
	position:absolute;
	left: 126px;
	top: 888px;
	
}
