.EstCapSolicitudDesembolsoDetalles{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	height:auto;
	min-height:200px;
	width:100%;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	padding:2px;
}


/*
* IMPRESION
*/
table.EstSolicitudDesembolsoImprimirTabla{
	font-family:Arial, Helvetica, sans-serif;
}
/*
* HEAD
*/
thead.EstSolicitudDesembolsoImprimirTablaHead{
background-image:url(../../../imagenes/tabla_barra.png);
height:20px;
font-size:12px;
color:#FFFFFF;

}

thead.EstSolicitudDesembolsoImprimirTablaHead th{
	padding-left:2px;
	padding-right:2px;
	text-transform: uppercase;  
/*height:25px;*/
}
/*
* BODY
*/
tbody.EstSolicitudDesembolsoImprimirTablaBody{
font-size:12px;
}

tbody.EstSolicitudDesembolsoImprimirTablaBody td {
	background-color:#FFF;
	/*padding-left:2px;
	padding-right:2px;*/
	border:#CCC 1px solid ; 
	padding:5px;
}

/*
* TEXTO BODY
*/
.EstSolicitudDesembolsoImprimirEtiqueta{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	text-transform: uppercase;  
}

.EstSolicitudDesembolsoImprimirContenido{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
}
/*
* TEXTO BODY OTROS
*/
.EstSolicitudDesembolsoImprimirContenidoEspecial{
letter-spacing:3px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}

.EstSolicitudDesembolsoImprimirContenidoFecha{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
}

.EstSolicitudDesembolsoImprimirContenidoFirma{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}
/*
* TEXTO DETALLE 
*/
.EstSolicitudDesembolsoDetalleImprimirEtiqueta{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#0066CC;
}

.EstSolicitudDesembolsoDetalleImprimirContenido td{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}
/*
* TEXTO TOTAL
*/
.EstSolicitudDesembolsoImprimirEtiquetaTotal{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	text-transform: uppercase;  
}
.EstSolicitudDesembolsoImprimirContenidoTotal{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}

/*
* TEXTO TOTAL OTROS
*/
.EstSolicitudDesembolsoImprimirMoneda{
font-weight:bold;
font-size:12px;
}

/*
* CABECERAS
*/
.EstSolicitudDesembolsoImprimirCabecera{
font-weight:bold;
font-size:14px;
text-decoration:underline;
}

.EstSolicitudDesembolsoImprimirSubcabecera{
font-weight:bold;
font-size:12px;
}



/*
FONDOS
*/

.EstSolicitudDesembolsoImprimirEtiquetaFondo{
	background-color:#F2F2F2;
	
}