.EstCapFichaIngresoLlamadas{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	height:auto;
	min-height:50px;
	width:100%;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}


.EstCapFichaIngresoSuministros{
	
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	
	height:auto;
	min-height:200px;
	
	width:100%;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
	
}

.EstCapFichaIngresoProductos{
	background-color:#F4F4F4;
	border:#CCC 1px solid;

height:auto;
	min-height:200px;
	
	
	width:100%;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
	
}
.EstCapFichaIngresoTareas{
	background-color:#F4F4F4;
	border:#CCC 1px solid;

height:auto;
	min-height:200px;

	width:100%;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}

.EstCapFichaIngresoManoObras{
	background-color:#F4F4F4;
	border:#CCC 1px solid;

height:auto;
	min-height:200px;

	width:100%;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}



.EstCapFichaIngresoHistoriales{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	height:auto;
	min-height:200px;
		min-width:800px;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}

.EstCapFichaIngresoCotizaciones{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	height:auto;
	min-height:200px;
	min-width:800px;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	overflow:auto;
}

.EstCapFichaIngresoPresupuestos{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	/*height:250px;
	width:800px;*/
	/*font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;*/
	padding:2px;
	overflow:auto;
}

.EstCapFichaIngresoMantenimientos{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	/*height:250px;
	width:800px;*/
/*	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;*/
	padding:2px;
	overflow:auto;
}

























/*
* INVENTARIO
*/
table.EstInventarioImprimirTabla{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}
/*
* HEAD
*/


/*
* BODY
*/
tbody.EstInventarioImprimirTablaBody{
	font-size:10px;
}

tbody.EstInventarioImprimirTablaBody td {
	background-color:#FFF;

	border:#CCC 1px solid ; 
	padding:0px;
}

/*
* TEXTO BODY
*/
.EstInventarioImprimirTitulo{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	text-transform: uppercase;  
}

.EstInventarioImprimirSubTitulo{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	text-transform: uppercase;  
}

.EstInventarioImprimirSubTitulo2{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	text-transform: uppercase;  
}



.EstInventarioImprimirEtiqueta{
	/*font-weight:bold;*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	text-transform: uppercase;  
}

.EstInventarioImprimirContenido{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:10px;
}


.EstInventarioImprimirCaja{
	border:1px solid #000;
	height:11px;


}









/*
* ACTA ENTREGA
*/
table.EstActaEntregaImprimirTabla{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}
/*
* HEAD
*/


/*
* BODY
*/
tbody.EstActaEntregaImprimirTablaBody{
	font-size:10px;
}

tbody.EstActaEntregaImprimirTablaBody td {
	background-color:#FFF;

	border:#CCC 1px solid ; 
	padding:0px;
}

/*
* TEXTO BODY
*/
.EstActaEntregaImprimirTitulo{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	text-transform: uppercase;  
}

.EstActaEntregaImprimirSubTitulo{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	text-transform: uppercase;  
}

.EstActaEntregaImprimirSubTitulo2{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	text-transform: uppercase;  
}



.EstActaEntregaImprimirEtiqueta{
	/*font-weight:bold;*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	text-transform: uppercase;  
}

.EstActaEntregaImprimirContenido{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:10px;
}





















/*
* IMPRESION
*/

table.EstFichaIngresoImprimirTabla{
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
/*
* HEAD
*/
thead.EstFichaIngresoImprimirTablaHead{
	background-image:url(../../../imagenes/tabla_barra.png);
	/*background-color:#333;*/
	height:20px;
	font-size:8px;
	color:#FFFFFF;
}

thead.EstFichaIngresoImprimirTablaHead th{
	padding-left:2px;
	padding-right:2px;
	text-transform: uppercase;  
	/*height:25px;*/
}
/*
* BODY
*/
tbody.EstFichaIngresoImprimirTablaBody{
font-size:10px;
}

tbody.EstFichaIngresoImprimirTablaBody td {
	background-color:#FFF;
	/*padding-left:2px;
	padding-right:2px;*/
	border:#CCC 1px solid ; 
	padding:1px;
	font-size:10px;
}

/*
* TEXTO BODY
*/
.EstFichaIngresoImprimirEtiqueta{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8px;
	color:#000;
	text-transform: uppercase;  
}

.EstFichaIngresoImprimirContenido{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:8px;
}


/*
* TEXTO BODY OTROS
*/
.EstFichaIngresoImprimirContenidoEspecial{
letter-spacing:3px;
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
}

.EstFichaIngresoImprimirContenidoFecha{
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
}
/*
* TEXTO DETALLE 
*/
.EstFichaIngresoDetalleImprimirEtiqueta{
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#0066CC;
}

.EstFichaIngresoDetalleImprimirContenido td{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:8px;
}
/*
* TEXTO TOTAL
*/
.EstFichaIngresoImprimirEtiquetaTotal{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	text-transform: uppercase;  
}
.EstFichaIngresoImprimirContenidoTotal{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}
/*
* TEXTO TOTAL OTROS
*/
.EstFichaIngresoImprimirMoneda{
font-weight:bold;
font-size:8px;
}
/*
* CABECERAS
*/
.EstFichaIngresoImprimirCabecera{
font-weight:bold;
font-size:14px;
}

.EstFichaIngresoImprimirSubcabecera{
font-weight:bold;
font-size:10px;
}





.EstFichaIngresoImprimirEtiqueta2{
	background-color:#900;
}



















.EstFichaIngresoNivel1{
	width:100px;
	height:15px;
	background-color:#FF0000;
	/*color:#F00;	*/
}

.EstFichaIngresoNivel2{
	width:100px;
	height:15px;
	background-color:#FF3300;
	/*color:#F90;*/
}


.EstFichaIngresoNivel3{
	width:100px;
	height:15px;
	background-color:#FF6600;
	/*color:#FF6;*/	
}

.EstFichaIngresoNivel4{
	width:100px;
	height:15px;
	background-color:#FF9900;
	/*color:#0C0;*/
}

.EstFichaIngresoNivel5{
	width:100px;
	height:15px;
	background-color:#FFCC00;
	/*color:#0C0;*/
}

.EstFichaIngresoNivel6{
	width:100px;
	height:15px;
	background-color:#FFFF00;
	/*color:#0C0;*/
}

.EstFichaIngresoNivel7{
	width:100px;
	height:15px;
	background-color:#FFFF33;
	/*color:#0C0;*/
}

.EstFichaIngresoNivel8{
	width:100px;
	height:15px;
	background-color:#66FF66;
	/*color:#0C0;*/
}

.EstFichaIngresoNivel9{
	width:100px;
	height:15px;
	background-color:#66FF33;
	/*color:#0C0;*/
}

.EstFichaIngresoNivel10{
	width:100px;
	height:15px;
	background-color:#66FF00;
	/*color:#0C0;*/
}
