

/*
* IMPRESION
*/
table.EstInformeTecnicoATS3ImprimirTabla{
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

/*
* HEAD
*/
thead.EstInformeTecnicoATS3ImprimirTablaHead{
	/*background-image:url(../../../imagenes/tabla_barra.png);*/
	/*background-color:#333;*/
	height:20px;
	font-size:8px;
	color:#FFFFFF;
}

thead.EstInformeTecnicoATS3ImprimirTablaHead th{
	padding-left:2px;
	padding-right:2px;
	text-transform: uppercase;  
	/*height:25px;*/
}

/*
* BODY
*/
tbody.EstInformeTecnicoATS3ImprimirTablaBody{
	font-size:10px;
}

tbody.EstInformeTecnicoATS3ImprimirTablaBody td {
	background-color:#FFF;
	padding-left:2px;
	padding-right:2px;
/*	border:#CCC 1px solid ; */
	padding:5px;
}

/*
* TEXTO BODY
*/
.EstInformeTecnicoATS3ImprimirEtiqueta{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#000;
	text-transform: uppercase;  
}

.EstInformeTecnicoATS3ImprimirContenido{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:10px;
}

.EstInformeTecnicoATS3ImprimirObservacion{
	text-align:justify;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:10px;
}
/*
* TEXTO BODY OTROS
*/
.EstInformeTecnicoATS3ImprimirContenidoEspecial{
	letter-spacing:3px;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
}

.EstInformeTecnicoATS3ImprimirContenidoFecha{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
}


.EstInformeTecnicoATS3ImprimirMoneda{
	font-weight:bold;
	font-size:8px;
}

.EstInformeTecnicoATS3ImprimirFecha{
	font-weight:bold;
	font-size:12px;
}

.EstInformeTecnicoATS3ImprimirCliente{
	font-weight:bold;
	font-size:12px;
}


/*
* TEXTO DETALLE 
*/
.EstInformeTecnicoDetalleImprimirEtiqueta{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#0066CC;
}

.EstInformeTecnicoDetalleImprimirContenido td{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
/*
* TEXTO TOTAL
*/
.EstInformeTecnicoATS3ImprimirEtiquetaTotal{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	text-transform: uppercase;  
}
.EstInformeTecnicoATS3ImprimirContenidoTotal{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}

/*
* CABECERAS
*/
.EstInformeTecnicoATS3ImprimirCabecera{
	font-weight:bold;
	font-size:14px;
}

.EstInformeTecnicoATS3ImprimirSubcabecera{
	font-weight:bold;
	font-size:10px;
}


.EstInformeTecnicoATS3ImprimirEtiqueta2{
	background-color:#900;
}


