/*
* IMPRESION
*/

/*@media print {
body {-webkit-print-color-adjust: exact;}
}*/


body{
	margin:0px;
}

@media print { 

} 
@media screen { 
	
	
} 


/*
* TABLA
*/

table.EstAsignacionVentaVehiculoImprimirTabla{
	font-family:Arial, Helvetica, sans-serif;
}

/*
* TABLA HEAD
*/

thead.EstAsignacionVentaVehiculoImprimirTablaHead{
/*	//background-image:url(../../../imagenes/tabla_barra.png);*/
	background-color:#069;!important;
	height:20px;
	font-size:10px;
	color:#FFFFFF;
}

thead.EstAsignacionVentaVehiculoImprimirTablaHead th{
	padding-left:2px;
	padding-right:2px;
	text-transform: uppercase;  
	border:#CCC 2px solid ; 
	/*height:25px;*/
}

/*
* TABLA BODY
*/

tbody.EstAsignacionVentaVehiculoImprimirTablaBody{
	font-size:10px;
}

tbody.EstAsignacionVentaVehiculoImprimirTablaBody td {
	background-color:#FFF !important;
	border:#CCC 1px solid ; 
	padding:2px;
}


/*
* TABLA CARACTERISTICA
*/

table.EstAsignacionVentaVehiculoImprimirTablaCaracteristica {
	font-family:Arial, Helvetica, sans-serif;
}

table.EstAsignacionVentaVehiculoImprimirTablaCaracteristica td{
	
}

/*
* TABLA CARACTERISTICA HEAD
*/


thead.EstAsignacionVentaVehiculoImprimirTablaCaracteristicaHead{
	/*background-image:url(../imagenes/tabla_barra.png);*/
	background-color:#069 !important;
	height:20px;
	font-size:10px;
	color:#FFFFFF;
}


thead.EstAsignacionVentaVehiculoImprimirTablaCaracteristicaHead th{
	padding-left:2px;
	padding-right:2px;
	text-transform: uppercase;  
	border:#CCC 2px solid ; 
}

/*
* TABLA CARACTERISTICA BODY
*/

tbody.EstAsignacionVentaVehiculoImprimirTablaCaracteristicaBody{
	font-size:10px;
}

tbody.EstAsignacionVentaVehiculoImprimirTablaCaracteristicaBody td{
	background-color:#FFF !important;
	border:#CCC 1px solid ; 
	padding:2px;
}




/*
* TEXTOS
*/

.EstAsignacionVentaVehiculoImprimirEtiqueta{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	/*font-family:Arial, Helvetica, sans-serif;*/
	font-size:12px;
	color:#000;
	/*text-transform: uppercase;*/
}

.EstAsignacionVentaVehiculoImprimirContenido{	
	font-family:Arial, Helvetica, sans-serif;
	/*font-family:Arial, Helvetica, sans-serif;*/
	color:#666;
	font-size:12px;
}

.EstAsignacionVentaVehiculoImprimirSubContenido{
	font-family:Arial, Helvetica, sans-serif;
	/*font-family:Arial, Helvetica, sans-serif;*/
	color:#666;
	font-size:8px;
}


.EstAsignacionVentaVehiculoImprimirReferencias{
	font-family:Arial, Helvetica, sans-serif;
	/*font-family:Arial, Helvetica, sans-serif;*/
	color:#666;
	font-size:8px;
}

.EstAsignacionVentaVehiculoImprimirMarcaModeloVersion{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	/*font-family:Arial, Helvetica, sans-serif;*/
	color:#666;
	font-size:12px;

}

.EstAsignacionVentaVehiculoImprimirMarcaModeloVersionPrincipal{
		font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	/*font-family:Arial, Helvetica, sans-serif;*/
	color:#666;
	font-size:13px;
}

.EstAsignacionVentaVehiculoImprimirObservacion{
	text-align:justify;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	/*font-family:Arial, Helvetica, sans-serif;*/
	color:#666;
	font-size:12px;
	font-style:italic;
}


/*
* TEXTOS OTROS
*/

.EstAsignacionVentaVehiculoImprimirContenidoEspecial{
	letter-spacing:3px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

.EstAsignacionVentaVehiculoImprimirContenidoFecha{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}

.EstAsignacionVentaVehiculoImprimirMoneda{
	font-weight:bold;
	font-size:8px;
}

.EstAsignacionVentaVehiculoImprimirFecha{
	font-weight:bold;
	font-size:12px;
}

.EstAsignacionVentaVehiculoImprimirCliente{
	font-weight:bold;
	font-size:12px;
}

.EstAsignacionVentaVehiculoImprimirRepresentante{
	font-weight:bold;
	font-size:10px;
}

/*
* TEXTOS DETALLES
*/

.EstAsignacionVentaVehiculoDetalleImprimirEtiqueta{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#0066CC;
}

.EstAsignacionVentaVehiculoDetalleImprimirContenido{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}

/*
* TEXTO TOTAL
*/

.EstAsignacionVentaVehiculoImprimirEtiquetaTotal{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	text-transform: uppercase;  
}
.EstAsignacionVentaVehiculoImprimirContenidoTotal{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}

/*
* CABECERAS Y TITULOS
*/
.EstAsignacionVentaVehiculoImprimirCabecera{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
}

.EstAsignacionVentaVehiculoImprimirSubcabecera{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
}

.EstAsignacionVentaVehiculoImprimirTitulo{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	/*text-transform:uppercase;	*/
	text-decoration:underline;
}




.EstAsignacionVentaVehiculoImprimirPrecioEtiqueta{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	/*margin-left:20%;*/

}

.EstAsignacionVentaVehiculoImprimirPrecio{
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	font-weight:bold;

}

.EstAsignacionVentaVehiculoImprimirFirma{
	font-size:10px;
}

.EstAsignacionVentaVehiculoImprimirFirmaNombre{
	font-size:12px;
	font-weight:bold;
}

.EstCapAsignacionVentaVehiculoTotal{
	border:#000 3px solid;
}

/*
* AUXILIARES
*/

H1.SaltoDePagina { 
/*	PAGE-BREAK-AFTER: always ;*/
	/*PAGE-BREAK-AFTER: always ;*/
	/*page-break-inside:always;*/
	page-break-before:always;
	/*page-break-inside:always;*/
	
} 

	 
/*.EstCapVehiculoVersionEscogida{
	background-color:#CCC;
	
}

*/


/*.EstAsignacionVentaVehiculoVersionCaracteristica{
	font-size:12px;	
}

.EstAsignacionVentaVehiculoVersionCaracteristicaEscogida{
	font-size:18px;	
}*/