.EstBoletaImprimirCapaPrincipal{
	position:relative;
}

.EstBoletaImprimirObsequio{
	position:absolute;
	left: 200px;
	top: 298px;
	width: 302px;
	height: 263px;
}

.EstBoletaImprimirSpot{
	position:absolute;
	left: 136px;
	top: 882px;
}
