.EstCapProduccionProductoDetalleEntradas{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	height:auto;
	min-height:100px;
	width:100%;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
}


.EstCapProduccionProductoDetalleSalidas{
	background-color:#F4F4F4;
	border:#CCC 1px solid;
	height:auto;
	min-height:100px;
	width:100%;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
}


/*
* IMPRESION
*/
table.EstProduccionProductoImprimirTabla{
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
/*
* HEAD
*/
thead.EstProduccionProductoImprimirTablaHead{
background-image:url(../../../imagenes/tabla_barra.png);
/*background-color:#333;*/
height:20px;
font-size:10px;
color:#FFFFFF;
}

thead.EstProduccionProductoImprimirTablaHead th{
	padding-left:2px;
	padding-right:2px;
	text-transform: uppercase;  
/*height:25px;*/
}
/*
* BODY
*/
tbody.EstProduccionProductoImprimirTablaBody{
font-size:12px;
}

tbody.EstProduccionProductoImprimirTablaBody td {
	background-color:#FFF;
	/*padding-left:2px;
	padding-right:2px;*/
	border:#CCC 1px solid ; 
	padding:5px;
}

/*
* TEXTO BODY
*/
.EstProduccionProductoImprimirEtiqueta{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	text-transform: uppercase;  
}

.EstProduccionProductoImprimirContenido{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
}
/*
* TEXTO BODY OTROS
*/
.EstProduccionProductoImprimirContenidoEspecial{
letter-spacing:3px;
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
}

.EstProduccionProductoImprimirContenidoFecha{
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
}
/*
* TEXTO detalle 
*/
.EstProduccionProductoDetalleImprimirEtiqueta{
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#0066CC;
}

.EstProduccionProductoDetalleImprimirContenido td{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
}
/*
* TEXTO TOPPR
*/
.EstProduccionProductoImprimirEtiquetaTotal{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	text-transform: uppercase;  
}
.EstProduccionProductoImprimirContenidoTotal{
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}

/*
* TEXTO TOPPR OTROS
*/
.EstProduccionProductoImprimirMoneda{
font-weight:bold;
font-size:8px;
}

/*
* CABECERAS
*/
.EstProduccionProductoImprimirCabecera{
font-weight:bold;
font-size:14px;
}

.EstProduccionProductoImprimirSubcabecera{
font-weight:bold;
font-size:10px;
}





.EstProduccionProductoImprimirEtiqueta2{
	background-color:#900;
}